- in_section :events
- content_for :header do
  %h1 Reseller Settings

.row
  .span3
    = render "profile_sidebar"
  .span6
    = render "shared/error_messages", :target => @reseller_profile
    = render "form"
