%table.zebra#notes-list
  %thead
    %tr
      %th Date Occurred
      %th Details
      %th &nbsp;
  %tbody
    - if person.notes.empty?
      %tr
        %td
        %td No notes for this person
        %td
        %td
        %td
    - else
      - notes.each do |note|
        %tr
          %td= l note.occurred_at, :format => :short unless note.occurred_at.nil?
          %td= truncate(note.text, :length => 80, :separator => ' ', :omission => '...')
          %td
            =link_to("Edit", edit_person_note_path(person, note, :format => :html), :class => "popup-link", :remote => true)
