.bundle
db/*.sqlite3
db/*.sqlite3-journal
log/*.log
tmp/**
*.swp
.DS_Store
nbproject
*.orig
*.*~
config/database.yml
public/assets
.rvmrc
.rbenv-version
log/
solr/data
solr/pids
.powenv
.powder
.autotest
.sass-cache
.sass-cache/
