%table.zebra.tablesorter.sortedstar
  %thead
    %tr
      %th.starred &#10029;
      %th Date
      %th Type
      %th SubType
      %th Details
  %tbody
    -if person.actions.empty?
      %tr
        %td
        %td{:colspan=>3}
          No actions for this person
    -person.starred_actions.each do |action|
      =render :partial=>'action_list_row', :locals => { :person => person, :action => action }
    -person.unstarred_actions.each do |action|
      =render :partial=>'action_list_row', :locals => { :person => person, :action => action }