%table.zebra.tablesorter.sortedstar
  %thead
    %tr
      %th.starred &#10029;
      %th Date Occurred
      %th Type
      %th Details
      %th
  %tbody
    - if person.actions.empty?
      %tr
        %td
        %td{:colspan=>5}
          No actions for this person
    - else
      - (person.starred_actions + person.unstarred_actions ).each do |action|
        = render :partial=>'action_list_row', :locals => { :person => person, :action => action }