%table.zebra.sortedstar#action-list
  %thead
    %tr
      %th.starred &#10029;
      %th Date Occurred
      %th Type
      %th Details
      %th
  %tbody
    - if person.actions.empty?
      %tr
        %td
        %td No actions for this person
        %td
        %td
        %td
    - else
      - (person.starred_actions + person.unstarred_actions ).each do |action|
        = render :partial=>'action_list_row', :locals => { :person => person, :action => action }

