%tr
  %td.starable{:id => [person.id, 'action', action.id]}
    -if action.starred?
      &#10029;
    -else
      &#10025;
  -unless action.occurred_at.nil?
    %td= l action.occurred_at.in_time_zone(current_user.current_organization.time_zone), :format => :short
  -else
    %td

  %td="#{action.action_type.capitalize} - #{action.action_subtype unless action.action_subtype.nil?}"

  %td= action.details

  %td
    =link_to "Edit", edit_person_action_path(person, action, "HEAR") if action.action_type == "Hear"
    =link_to "Edit", edit_person_action_path(person, action, "GIVE") if action.action_type == "Give" unless action.creator_id.nil?
