%tr
  %td.starred{:id => [person.id, 'action', action.id]}
    -if action.starred?
      &#10029;
    -else
      &#10025;
  %td= l action.datetime, :format => :short
  %td= action.action_type.capitalize
  %td= action.details