- in_section :people
- content_for :header do
  %h1 Edit Contact

.compact-spread
  %h3="#{@person.first_name} #{@person.last_name}"
  = render :partial => "shared/error_messages", :locals => { :target => @person }
  = render :partial => 'form', :locals => { :person => @person }