- in_section :people
= render :partial => "shared/headers/people"

-content_for :header do
  %h1 Edit Person

.context

.document
  = form_for @person, :url => person_path(@person) do |form|
    %ul
      = render :partial => 'people/form', :locals => { :parent_form => form, :target => @person }
      %li= form.submit "Save"

  =button_to "Cancel", :back, :method => :get