- in_section :people
= render :partial => "shared/headers/people"

.context
  %h3 New Person

.document
  = form_for @person, :url => people_path do |form|
    %ul
      = render :partial => 'people/form', :locals => { :parent_form => form, :target => @person }
      %li= form.submit "Save"

  =button_to "Cancel", people_path, :method => :get