- in_section :people
- content_for :header do
  %h1 New Contact

.spread
  %h3 Contact Details
  = render :partial => "shared/error_messages", :locals => { :target => @person }
  = form_for @person, :url => people_path do |form|
    %ul
      = render :partial => 'people/form', :locals => { :parent_form => form, :target => @person }
      %li= form.submit "Save"

  =button_to "Cancel", people_path, :method => :get