- in_section :people
- content_for :header do
  %h1 People
  %h2 Find and manage important relationships with people

.context
  = render :partial=>'person_summary_sidebar', :locals => { :person => @person }
  = link_to "Edit", edit_person_path(@person)

.document
  %h3 Actions

  .call-to-action.dropdown-container
    %a.dropdown-controller{:href=>'#'}
      Log Action
    %ul.dropdown
      %li=link_to "Hear", new_person_action_path(@person, "HEAR"), :class => "popup-link", :remote => true
      %li=link_to "Give", new_person_action_path(@person, "GIVE"), :class => "popup-link", :remote => true
  #actions
    .table-controls
    =render :partial=>'action_list', :locals => { :person => @person }

  = render :partial=>'shared/tags', :locals => { :tags => @person.tags, :subject => @person }
  .popup