%h1 People
%h2 Find and manage important relationships with people

.context
  = render :partial=>'person_summary_sidebar', :locals => { :person => @person }

.document
  %h3 Actions

  #actions
    .table-controls
      %input.filter{ :type => :text, :value => "Filter" }
    =render :partial=>'action_list', :locals => { :person => @person }