- in_section :people
- content_for :header do
  %h1 People
  %h2 Find and manage important relationships with people

.context
  = render :partial=>'person_summary_sidebar', :locals => { :person => @person }

.document
  %h3 Actions

  .call-to-action
    =link_to "Log Action", new_person_action_path(@person)
  %br
  %br

  #actions
    .table-controls
      %input.filter{ :type => :text, :value => "Filter" }
    =render :partial=>'action_list', :locals => { :person => @person }