- in_section :people
- content_for :header do
  %h1 People
  %h2 Manage your important relationships

.context
  = render :partial=>'person_summary_sidebar', :locals => { :person => @person }

.document
  #actions
    %h3 Actions
    %ul#new-actions
      %li=link_to "Hear", new_person_action_path(@person, :format => :html, :type => :hear), :class => "popup-link", :remote => true, :title => "Log a communication event"
      %li=link_to "Give", new_contribution_path("contribution[person_id]" => @person.id), :title => "Log a contribution"
    = render :partial => 'actions/list', :locals => { :person => @person, :actions => (@person.starred_actions + @person.unstarred_actions ) }

  = render :partial=>'shared/tags', :locals => { :tags => @person.tags, :subject => @person }
  .popup