body {
  padding-top: 70px;
}

.navbar .btn.primary {
  margin-top: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar .btn.primary, .btn.btn-orange {
  text-shadow: 0;
  color: #fff;
  background-color: #a85300;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f8930a), to(#a85300));
  background-image: -moz-linear-gradient(top, #f8930a, #a85300);
  background-image: -ms-linear-gradient(top, #f8930a, #a85300);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8930a), color-stop(100%, #a85300));
  background-image: -webkit-linear-gradient(top, #f8930a, #a85300);
  background-image: -o-linear-gradient(top, #f8930a, #a85300);
  background-image: linear-gradient(top, #f8930a, #a85300);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8930a', endColorstr='#a85300', GradientType=0);
  border-color: #a85300 #a85300 #003f81;
}

.navbar .btn.primary:hover,
.navbar .btn.primary:active,
.navbar .btn.primary.active,
.navbar .btn.primary.disabled,
.navbar .btn.primary[disabled],

.btn.btn-orange:hover,
.btn.btn-orange:active,
.btn.btn-orange.active{
  background-color: #a85300;
}

.page-title, h1 {
  font-family: Harabara, Helvetica, Arial, sans-serif !important;
  font-weight: normal;
  letter-spacing: 1px;
  word-spacing: -1px;
  margin-bottom: 20px;
}

.page-title {
  margin-bottom: 30px;
}

p {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 19px;
}

h1 {
  font-size: 35px;
}

li {
  color: #404040;
}

body .content {
  font-size: 1.2em;
}

blockquote small {
  text-align: right;
}

div.icon {
  float: left;
  margin-right: 10px;
  clear: both;
}

.sub-text {
  float: left;
  width: 250px;
}

.screenshot {
  margin-bottom: 18px;
}

img.icon {
  vertical-align: text-bottom;
}

.question {
  padding-top: 60px;
}

.question:first-child {
  padding:0;
}

.question h3 {
  line-height: 24px;
  margin-bottom: 10px;
}
ul#faqs li {
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 10px;
}

ul.features {
  list-style: none;
  margin-left: 0;
}
ul.features li {
  padding-left: 23px;
  background: url('/assets/pages/todo.png') no-repeat;
  padding-top: 3px;
  padding-bottom: 20px;
}
ul.features li.soon {
  background: url('/assets/pages/todo-soon.png') no-repeat;
}

.hero .btn-large {
	font-size: 20px;
	font-weight: normal;
	margin-top: 10px;
}

.hero .btn-primary {
  background-color: #175c71;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#2086a6), to(#175c71));
  background-image: -moz-linear-gradient(top, #2086a6, #175c71);
  background-image: -ms-linear-gradient(top, #2086a6, #175c71);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2086a6), color-stop(100%, #175c71));
  background-image: -webkit-linear-gradient(top, #2086a6, #175c71);
  background-image: -o-linear-gradient(top, #2086a6, #175c71);
  background-image: linear-gradient(top, #2086a6, #175c71);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2086a6', endColorstr='#175c71', GradientType=0);	
}

.btn-large small {
	font-size: 12px;
	color: #DDD;
}

.hero-unit {
  color: #fff;
  background: #000 url('/assets/pages/hero.png') no-repeat 0 -80px;
  margin-top: -25px;
  padding-bottom: 0;
  padding-top: 180px;
}

.hero-unit h1, .hero-unit h2, .hero-unit h3, .hero-unit h4, .hero-unit p {
  color: white;
  text-shadow: 1px 1px 6px #000;
  font-family: Helvetica, Arial, sans-serif;
}

.hero-unit h1 {
  margin-bottom: 30px;
  letter-spacing: 3px;
  word-spacing: 0px;
}

.hero-unit p {
  padding-bottom: 30px;
}

.landing-section {
  padding-bottom: 40px;
  margin-top: 50px;
  border-bottom: 5px solid #eee;
}
.landing-section:last-of-type {
  border: none;
}

.center {
  text-align: center;
}

.row.good-guys {
  margin-bottom: 30px;
}

.hero-unit {
  text-align: center;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol#success li {
  clear: both;
  margin-bottom: 20px;
  overflow: hidden;
}

ol#success li p {
  margin: 0;
}

ol#success li .number {
  color: #2086a6;
  font-family: 'Bree Serif', Helvetica, Arial, sans-serif !important;
  font-size: 35px;
  background: url('/assets/pages/number.png') no-repeat;
  width: 66px;
  height: 43px;
  float: left;
  margin-right: 10px;
  text-align: center;
  padding-top: 23px;
  text-shadow: 1px 1px 1px #fff;
}

p.ps {
  color: #666;
}

.logo {
  margin-top: 30px;
}

h5 {
  font-size: 14px;
}

h5.short {
  line-height: 16px;
}

h5.short .indent {
  margin-left:33px;
}

table.pricing td {
  width: 50%;
  border-top: 1px solid #ddd;
  padding: 10px 0;
}

table.pricing ul {
  list-style-type: disc;
  margin-bottom: 0;
}

.post {
  margin-bottom: 50px;
}
.post h6, .post h5 {
  line-height: 24px;
}
.post h4 a {
  color: #333;
}
.post h4 a:hover {
  color: #0069D6;
}

/*twitter-widget*/
div.twtr-hd, div.twtr-tweet-wrap {
  padding: 0;
}
.twtr-tweet {
  margin-left: 25px; 
  margin-bottom: 6px; 
  padding-bottom: 6px;
}
