.row

  .span4
    %h3 Imported Contacts

    %p This import was created at: <br> #{l import.created_at}
    %p #{pluralize @import.rows.count, "contact"} found in this import file

    %p= link_to "Back to imports/exports", imports_path, :class => "btn"

  .span8

    %h3 This file has been imported into Artful.ly.
