- in_section :imports
- content_for :header do
  %h1 Import Events

.row
  .span4
    .well
      %h3 Upload File
      %p
        = render :partial => "shared/error_messages", :locals => { :target => @import }
        = raw s3_http_upload_tag :key => "imports/#{UUID.new.generate}",
            :content_type => "text/csv",
            :redirect => new_import_url,
            :acl => "public-read",
            :max_filesize => 50.megabytes,
            :submit_button => '<input type="hidden" name="type" value="events"/><div class="cancel-submit"><input id="import_submit" class="btn" name="commit" type="submit" value="Import"></div>'

  .span8
    %p
      Please supply a CSV (comma separated values) of people that you'd like to import.
    %p You can #{link_to 'download an empty CSV file', template_imports_path(:type => "events")} with these headers already filled in.
    %h3 Required Fields
    %table.table.table-bordered.table-striped.docs
      %tr 
        %td.field Event Name
        %td 
          The name of the event.  If you already have an event with the same name,
          %i show and order data will be added to that event.
          Otherwise, a new event will be created.
      %tr 
        %td.field Venue Name
        %td The name of the venue where the event was held
      %tr 
        %td.field Show Date
        %td
          The date of the show in the format
          %br
          %br
          %b YYYY/MM/DD HH:MMpm 
          %br
          %br
          A show on April 18, 2012 at 5:30pm would be represented as "2012/04/18 5:30pm"  If you do not include a time, we'll set it to 8pm.
    
    %h3 Include One Of The Following
    %table.table.table-bordered.table-striped.docs
      %tr 
        %td.field First 
        %td The first name of the patron
      %tr 
        %td.field Last
        %td The last name of the patron
      %tr 
        %td.field Email
        %td The email address of the person  
      
    %h3 Optional Fields
    %table.table.table-bordered.table-striped.docs
      %tr 
        %td.field Amount
        %td The dollar amount of the total purchase. Don't include a "$" or other currency symbols.
      %tr 
        %td.field Payment Method
        %td Cash, Credit Card, Check, Comp, Other.
      %tr 
        %td.field Order Date
        %td The date of the order in the format "MM/DD/YYYY HH:MMpm".  If this is omitted the order will be recorded with today's date.
