- in_section :events
- content_for :header do
  %h1= t('.heading', :default => "Reseller Offers")
  %h2= t('.subheading', :default => "Manage your reseller offers")
  %ul.from-here
    %li= link_to "New Offer", new_ticket_offer_path if @organization.events.count > 0

.document

  %h3 Ticket offers for you

  %h4 Waiting for your response

  %h4 Accepted

  %h4 Completed

  %h4 Rejected



  %h3 Ticket offers by you

  %h4 Creating

  %h4 Waiting for a response

  %h4 Accepted

  %h4 Rejected

  %h4 Completed

/.context
/  %h3 Overview
/  = render :partial => 'glances', :locals => { :events => @events } unless @events.blank?
