- content_for :header do
  %h1 Create a new ticket offer

.context
  %p Copycopter stuff here about offering tickets to resellers.  Fees.  What one can expect.  Tickets are not reserves until sold.  Etc...

.document
  - if !@ticket_offer.reseller_profile
    = render "select_reseller_profile"
  - else
    = render "shared/error_messages", :target => @show
    = render :partial => 'form', :locals => { :show => @show }
