- content_for :header do
  %h1 Create a new ticket offer

.context
  Copycopter stuff here about offering tickets to resellers.  Fees.  What one can expect.  Tickets are not reserves until sold.  Etc...
  
.document
  %h3 Find a reseller
  .clearfix
  %table#reseller-profile-datatable
    %thead
      %tr
        %th Name
        %th Description
        %th Fee
    %tbody
      - @reseller_profiles.each do |profile|
        %tr
          %td= link_to profile.organization.name, create_organization_ticket_offers_path(@organization, :ticket_offer => { :reseller_profile_id => profile.id, :show_id => @ticket_offer.show_id })
          %td= profile.description
          %td= number_to_currency(profile.fee / 100.0)

- content_for :custom_js do

  :javascript

    $(function () {
      $("#reseller-profile-datatable").dataTable({
        "iDisplayLength" : 20,
        "bPaginate"      : true,
        "bJQueryUI"      : true,
        "sDom"           : '<"H"lf>t<"F"ip>',
        "aoColumns"      : [
          { "bSortable" : true },
          { "bSortable" : false },
          { "bSortable" : true }
        ]
      });
    });
