%p This import was created at: <br> #{l import.created_at}

.btn-group
  = icon_link_to "Back", imports_path, 'icon-share-alt', 'btn', ''
  = link_to "Delete", import_path(import), :data => {:confirm => "Are you sure you want to delete this import?"}, :method => :delete, :class => "btn btn-danger"