- in_section :people
- content_for :header do
  %h1 List Segments

.compact-spread
  %ul.detailed-list
    - @list_segments.each do |list_segment|
      %li
        %h4= link_to list_segment.name, list_segment
        %ul.details-long
          %li= pluralize(list_segment.length, 'person')

