#ticket-table_length, #action-list_length
  float: left

#ticket-table_filter, #action-list_filter
  float: right
  clear: right
  
#ticket-table_info,  #action-list_info
  clear: both

.dataTables_info

.dataTables_paginate
  float: left