form.sprited
  display: none

li.published form.published, li.unpublished form.unpublished, li.built form.built, li.pending form.pending
  display: inline

.dialog
  display: none

.performance-list h6
  line-height: 20px

.list-glance
  float: left
  font-size: .8em
  line-height: 20px
  margin-left: 10px
  color: #aaa