.report
  li
    font-weight: bold
    font-size: .8em
    color: $secondary
    text-align: right
    margin: 1em 0
  .stat
    float: left
    text-transform: uppercase
  .current
    color: #666
  .total, .alternative
    color: #888
