.reports
  @include stack-list
  margin: 0 !important
  > li
    @include section
    @extend .stack1of2

.report
  margin-bottom: $gutter
  li
    font-weight: bold
    line-height: 2 * $line_height
    font-size: .875em
    color: $secondary
    text-align: right
  .stat
    float: left
    text-transform: uppercase
  .current
    color: #666
  .total, .alternative
    color: #888
