form.sprited
  display: none

tr.published form.published, tr.unpublished form.unpublished, tr.built form.built, tr.pending form.pending, tr.destroyable form.destroyable
  display: inline

.dialog
  display: none

th.stat
  width: 50px
  text-align: right

.available_value, .gross_value, .comped_value
  text-align: right
  font-weight: bold
  color: #777
  font-size: 12pt
  margin-bottom: 2px

#show-datetime
  float: left
  font-size: 12pt
  margin-top: 2px
  a:hover
    text-decoration: underline

#control-bar
  float: right