@import "grid"
@import "stack-layout"
@import "colors"
@import "mixins"

body
  background: #fefefe
  font:
    size: 11pt
    family: Arimo, sans-serif
a
  color: $compliment
  text-decoration: none

h1, h3
  font-family: "Raleway" !important

h1
  font-size: 2.5em
  line-height: 4 * $line_height
  color: $compliment
  border-bottom: 1px solid #eee
  margin-bottom: $gutter

h2
  float: left
  color: #666

h3
  font-size: 2em
  line-height: 2 * $line_height
  color: $primary
  margin-bottom: $gutter

h4
  color: $secondary
  font-style: italic
  line-height: 2 * $line_height

#heading
  @include section
  @extend .stack
  margin-bottom: 2 * $gutter
  h2, .from-here
    margin: 0 $gutter
  .from-here
    font-size: .8em
    float: right
    li
      display: inline
      padding-left: 1em

strong
  font-weight: bold
  color: $compliment

#large-header
  background: #eee
  @include shadow(#ddd)
  padding: 36px 0
  text-align: center

#current
  font-size: .9em
  div
    float: left
    padding: 0 5px
  #current-user
    color: #888
  #current-org
    border-left: 1px solid #888
  #administration
    border-left: 1px solid #888
    a
      color: #666
      font-weight: bold
      text-transform: uppercase
      font-size: .8em

#content
  margin: 0 auto
  max-width: 1260px
  padding: 6 * $gutter $gutter 10 * $gutter
  position: relative
  p
    font-size: .875em
    line-height: 2 * $line_height
    color: #666
  .logo
    position: absolute
    right: 20px
    margin-top: -20px
  #page
    @include stack-layout
    width: 100%

.spread
  @include section
  @extend .stack

.compact-spread
  @include section
  @extend .stack1of2
  padding: $gutter
  border: 1px solid #eee

.context, .tip, .overview
  @include section
  @extend .stack1of3

.dashboard
  @include section
  @extend .stack1of2

.sideboard
  @include section
  @extend .stack1of4

.document
  background: #fff
  @include section
  @extend .stack2of3

.of2
  @include section
  @extend .stack1of2
  display: inline-block
  margin-left: 0
  margin-right: 0

.of3
  @include section
  @extend .stack1of3

.drilldown.final
  @include section
  @extend .stack1of2
  ul li
    border-bottom: 1px solid $neutral-1
    label
      margin-left: 1em

.drilldown
  @include section
  @extend .stack1of4
  h3
    font-size: 1.5em
  ul li a
    @include rounded-corners(4px, 4px, 4px, 4px)
    display: block
    color: darken($neutral-1, 50%)
    background: $neutral-1
    padding: .5em
    &:before
      float: right
      color: darken($neutral-1, 50%)
      content: "\2192"
    &:hover
      background: lighten($neutral-1, 3%)

.detailed-list
  > li
    @include stack-content
    position: relative
    color: $secondary
  ul.details li
    display: inline
    font-size: .8em
    line-height: 2 * $line-height
    color: #999
  ul.details-long
    li
      line-height: 2 * $line-height
      font-size: .75em
      color: #999
      display: inline
      .key, .value
        display: inline
        color: #666
      .key
        color: #333
        &:after
          content: ":"

  h4
    margin-bottom: 0
    a
      text-decoration: none
      color: inherit

.wizard-list li
  border-bottom: 1px solid #eee
  padding-bottom: .5em
  margin-bottom: .5em
  text-align: right
  span
    float: left

ul.selection
  li
    margin-bottom: 1px
    a
      display: block
      @include rounded-corners(4px, 4px, 4px, 4px)
      background: #eee
      padding: .5em
  li.unselected
    a
      &:before
        float: right
        color: darken($neutral-1, 50%)
        content: "\2192"
      &:hover
        background: darken(#eee, 2%)


.order-list ul li
  display: block
  font-size: .9em

.code
  font-size: .75em
  font-family: monospace
  font-weight: bold
  border: 1px solid #ccc
  border-left: $gutter solid #ccc
  background: #eee
  color: #666
  line-height: $line_height
  padding: $gutter / 2
  margin: $gutter / 2 0
  white-space: pre-wrap
  @include rounded-corners(2px,2px,2px,2px)

input.mini
  font-size: .75em
  @include rounded-corners(2px,2px,2px,2px)
  padding: 2px 5px 3px

.people-list
  li
    @include stack-content
    padding: 0
    border-bottom: 1px solid #eee
    text-align: right
    position: relative
    line-height: 3 * $line_height - 1
  .name
    float: left
  .email
    font-size: .9em
    color: #666

.controls
  position: absolute
  background: #fff
  @include opacity(0.95)
  right: 0
  top: 0
  text-align: right
  display: none
  li
    display: inline-block
    a, span
      padding: 0 $gutter / 2
      font-weight: bold
      text-decoration: none
      font-size: .875em
      display: inline-block
      color: #666
      line-height: 2 * $line_height
    a:hover
      color: $compliment

.starable
  cursor: pointer

.calendar
  @include stack-list
  border-right: 1px solid #ccc
  margin-bottom: 25px
  > li
    @extend .stack1of7
  .day
    @include stack-content
    border: 1px solid #ccc
    border-right: none
    min-height: 100px
    .number
      color: #aaa
      padding: 3px
      text-align: right

.on-sale
  background: rgba(7, 112, 131, 0.1)

.sold-out
  background: rgba(240, 130, 4, 0.1)

.more
  font-size: .8em
  background: #eee
  @include rounded-corners(4px, 4px, 4px, 4px)
  li
    color: #fff
    margin: 0
    float: left
    padding: 4px 8px
    a
      display: block
      font-weight: bold
      padding: .25em

.stats-controls
  float: right
  a
    color: #333
    font-size: .7em

.hidden-stats
  position: relative
  font-size: .8em
  display: none
  margin-top: 5px
  padding-top: 5px
  border-top: 1px solid rgba(0, 0, 0, 0.05)

.new-item input[type="submit"]
  float: right

.med-form
  margin-bottom: 3em

.med-form-inline
  margin-bottom: 0em

.med-form input[type='text']
  width: 60%
  margin-bottom: 5px

.starred
  width: 1em
  .DataTables_sort_wrapper
    padding: 0

.kv
  font-size: .875em
  li
    line-height: 2 * $line_height
  .key, .value
    display: inline-block
    color: #666
  .key
    font-weight: bold
    width: 30%

.tags
  margin-bottom: 0.1em
  li.tag
    @include rounded-corners(3px, 3px, 3px, 3px)
    @include gradient(#0baac6, $compliment)
    @include inset-text
    display: inline-block
    padding: 4px 8px
  ul.controls
    li.delete
      a
        @include rounded-corners(3px, 3px, 3px, 3px)
        padding: 0px
        color: black

.tag-error
  font-size 0.8em
  color: $red

.pagination
  @include rounded-corners(0, 0, 3px, 3px)
  border: 1px solid #ccc
  border-top: 0
  padding: .5em
  background: #eee

#user_new, #user_edit, #admin_new, #admin_edit
  width: 480px
  margin: 0 auto

.refunded, .returned
  text-decoration: line-through

.changable-overlay
  display: none
  position: absolute
  left: 0
  background: rgba(34, 34, 44, 0.7)
  z-index: 2
  color: white
  padding: 5px 15px
  a
    color: white
    text-decoration: none
    &:hover
      color: white
      text-decoration: underline

#alternatives
  @include stack-layout

.bulleted
  list-style-type: disc
  margin-left: 2em
  color: #666
  font-size: .9em
  li
    line-height: 1.3em

.wizard-button
  display: block
  @include rounded-corners(2px, 2px, 2px, 2px)
  @include inset-text
  @include gradient($compliment_highlight, $compliment, 14%, 100%)
  border: 1px solid $compliment_shadow
  text-align: center
  font-size: .9em
  padding: 1em

.dropdown-container
  text-align: right

.dropdown
  position: absolute
  display: none
  width: 100px
  right: 10px
  background-color: $light-grey
  -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5)
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5)
  border-top: 1px solid grey
  border-right: 1px solid grey
  border-left: 1px solid grey
  margin-top: 5px
  li
    padding: 5px 5px 5px 10px
    border-bottom: 1px solid gray

.cta
  @include rounded-corners(2px, 2px, 2px, 2px)
  @include inset-text
  text-align: center
  width: 25%
  @include gradient($compliment_highlight, $compliment, 14%, 100%)
  border: 1px solid $compliment_shadow
  font-size: .8em
  font-weight: bold
  padding: 10px
  float: right

.cta-left
  @extend .cta
  float: left

.cta-left-125
  @extend .cta-left
  width: 125px

ul.prices li div
  text-indent: 1em

#calendar
  table
    border: 0px

#footer
  position: fixed
  bottom: 0
  right: 0
  padding: 5px
  background: #ccc
  text-align: right
  @include rounded-corners(4px, 0, 0, 0)


#new-actions
  @include stack-list
  border: 1px solid #eee
  text-align: left
  margin-bottom: 10px
  @include rounded-corners(4px, 4px, 4px, 4px)
  > li
    font-size: .8em
    @extend .stack1of7
    a
      @include stack-content
      @include rounded-corners(4px, 4px, 4px, 4px)
      @include gradient($light-blue, $blue)
      margin: 5px 0 5px 5px
      text-align: center
      font-weight: bold
      color: rgba(255,255,255,0.97) !important
      padding: 10px 0

.list-manipulations
  margin: $gutter 0
  li
    display: inline
    form
      display: inline

.loading
  background: url('/images/loading.gif') no-repeat center center
  > *
    opacity: .1

.search-help-popup
  font-family: Arial
  font-size: 1.1em
  p
    margin-bottom: 10px
  ul
    margin-left: 20px
    list-style: circle
  li
    margin-bottom: 5px
  pre
    display: inline
    background-color: white
    color: black
    font-family: Courier
    padding: 1px

.hidden
  display: none !important

.label.hidden
  display: none

.context-buttons
  @include rounded-corners(4px, 4px, 4px, 4px)
  @include stack-layout
  border: 1px solid #eee
  padding: 4px 0 0 4px
  display: block
  text-align: left
  li
    @extend .stack1of3
    form
      margin: 0 4px 4px 0
    input
      width: 100%
      font-size: .75em
      display: block
      height: 24px
      padding: 0
      @include rounded-corners(2px,2px,2px,2px)

@import "main-menu"
@import "admin-menu"
@import "forms"
@import "tables"
@import "flash"
@import "reports"
@import "performances"
@import "logo"

#zenbox_tab
  top: 80%

dl.table-display
  border-bottom: 1px solid #ccc
  font-size: .875em
  margin: $gutter 0
  dd, dt
    border-top: 1px solid #ccc
    line-height: 3 * $line_height
    text-indent: $gutter
  dt
    background: #eee
    float: left
    width: 50%
    font-weight: bold
    color: #666