@import "reset.css"
@import "stack-layout"
@import "colors"
@import "mixins"

body
  background: #fefefe
  font:
    size: 11pt
    family: Arimo, sans-serif
a
  color: $compliment
  text-decoration: none

h1, h3, h4
  font-family: "Raleway" !important
  @include stack-content

h1
  font-size: 2.5em
  color: $compliment
  border-bottom: 1px solid #eee
  margin-bottom: 10px

h2
  float: left
  color: #666
  @include stack-content

#front-matter
  margin-bottom: 3em
  &:after
    content: "."
    display: block
    height: 0
    clear: both
    visibility: hidden

.from-here
  @include stack-content
  font-size: .8em
  text-align: right
  li
    display: inline
    padding-left: 1em

h3
  font-size: 2em
  color: $primary
  margin-bottom: .5em

h4
  color: #666
  font-size: 1.25em
  margin-bottom: .5em

strong
  font-weight: bold
  color: $compliment

#large-header
  background: #eee
  @include shadow(#ddd)
  padding: 75px 0
  text-align: center
  img

#content
  margin: 100px 2%
  width: 96%
  @include stack-layout
  p
    font-size: .9em
    line-height: 1.5em
    margin: 1em inherit
    color: #666

.context, .tip
  @include section
  @extend .stack1of3

.document
  background: #fff
  @include section
  @extend .stack2of3

.of2
  @include section
  @extend .stack1of2

.drilldown.final
  @include section
  @extend .stack1of2
  ul li
    border-bottom: 1px solid $neutral-1
    label
      margin-left: 1em

.drilldown
  @include section
  @extend .stack1of4
  h3
    font-size: 1.5em
  ul li a
    @include rounded-corners(4px, 4px, 4px, 4px)
    display: block
    color: darken($neutral-1, 50%)
    background: $neutral-1
    padding: .5em
    &:before
      float: right
      color: darken($neutral-1, 50%)
      content: "\2192"
    &:hover
      background: lighten($neutral-1, 3%)

.detailed-list
  > li
    @include stack-content
    position: relative
    border-bottom: 1px solid $neutral-1
    color: $secondary
    padding: 10px
    &.active
      background: #eee
  ul.details li
    display: inline
    font-size: .9em
  ul.details-long li
    display:block
    font-size: .9em
  h4
    font-size: 1.4em
    margin-bottom: 0
    a
      text-decoration: none
      color: inherit

.order-list ul li
  display: block
  font-size: .9em

.performance-list
  color: $secondary
  border: 1px solid #ccc
  border-top: none
  > li
    position: relative
    display: block
    padding: 10px
  > li.even
    background: #eee
  .status
    font-size: .9em
  h6
    display: inline
  .selected
    @include shadow(#ddd)
    h6
      font-weight: bold

.people-list
  li
    margin: 1em 0
    border-bottom: 1px solid #ccc
    position: relative
  h4
    padding: .25em 0
  .email
    font-size: .9em
    color: #666
    position: absolute
    right: 0
    top: 0


.controls
  position: absolute
  right: 0
  top: 0
  text-align: right
  display: none
  li
    display: inline-block
    padding: 10px 0
    a
      font-weight: bold
      text-decoration: none
      font-size: .8em
      display: inline-block
      padding: .25em
      color: #aaa
      &:hover
        color: $compliment



.calendar
  @include stack-list
  border-right: 1px solid #ccc
  margin-bottom: 25px
  > li
    @extend .stack1of7
  .day
    @include stack-content
    border: 1px solid #ccc
    border-right: none
    min-height: 100px
    .number
      color: #aaa
      padding: 3px
      text-align: right

.on-sale
  background: rgba(7, 112, 131, 0.1)

.sold-out
  background: rgba(240, 130, 4, 0.1)

.more
  font-size: .8em
  background: #eee
  @include rounded-corners(4px, 4px, 4px, 4px)
  li
    color: #fff
    margin: 0
    float: left
    padding: 4px 8px
    a
      display: block
      font-weight: bold
      padding: .25em

.stats-controls
  float: right
  a
    color: #333
    font-size: .7em

.hidden-stats
  position: relative
  font-size: .8em
  display: none
  margin-top: 5px
  padding-top: 5px
  border-top: 1px solid rgba(0, 0, 0, 0.05)

.new-item input[type="submit"]
  float: right

.med-form
  margin-bottom: 3em

.med-form-inline
  margin-bottom: 0em

.med-form input[type='text']
  width: 60%
  margin-bottom: 5px

.starred
  width: 1em

.kv
  font-size: .9em
  margin-bottom: 2em
  li
    padding: .25em 0
  .key, .value
    display: inline-block
    color: #666
  .key
    font-weight: bold
    width: 30%

.tags
  margin-bottom: 2em
  li
    @include rounded-corners(3px, 3px, 3px, 3px)
    @include gradient(#0baac6, $compliment)
    @include inset-text
    display: inline-block
    padding: 4px 8px

.pagination
  @include rounded-corners(0, 0, 3px, 3px)
  border: 1px solid #ccc
  border-top: 0
  padding: .5em
  background: #eee

#user_new
  width: 480px
  margin: 0 auto

.refunded, .returned
  text-decoration: line-through

.changable-overlay
  display: none
  position: absolute
  left: 0
  background: rgba(34, 34, 44, 0.7)
  z-index: 2
  color: white
  padding: 5px 15px
  a
    color: white
    text-decoration: none
    &:hover
      color: white
      text-decoration: underline


#alternatives
  @include stack-layout

.wizard-button
  display: block
  @include rounded-corners(2px, 2px, 2px, 2px)
  @include inset-text
  @include gradient($compliment_highlight, $compliment, 14%, 100%)
  border: 1px solid $compliment_shadow
  text-align: center
  font-size: .9em
  padding: 1em

.dropdown
  position: absolute
  display: none
  width: 100px
  right: 10px
  background-color: $light-grey
  -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5)
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5)
  border-top: 1px solid grey
  border-right: 1px solid grey
  border-left: 1px solid grey
  margin-top: 5px
  li
    padding: 5px 5px 5px 10px
    border-bottom: 1px solid gray

@import "main-menu"
@import "forms"
@import "tables"
@import "flash"
@import "reports"