@import "grid"
@import "stack-layout"
@import "colors"
@import "mixins"
@import "forms"
@import "flash"


body
  font:
    size: 11pt
    family: Arimo, sans-serif

a
  color: $compliment
  text-decoration: none

h1, h2, h3, h4
  font-family: "Raleway" !important
  @include stack-content

h1
  font-size: 3.5em
  color: $compliment

h2
  margin-bottom: 3em

h3
  font-size: 2em
  color: $primary
  margin-bottom: .5em

h4
  color: #666
  font-size: 1.25em
  margin-bottom: .5em

p
  font-size: .9em
  margin-bottom: 1em
  color: #666

#content
  margin: 10px 2%
  width: 96%
  @include stack-layout

#sidebar
  @include section
  @extend .stack1of3

#store
  @include section
  @extend .stack2of3

.sections .section-name
  font-family: "Raleway" !important
  color: $compliment

#donation
  input[type="text"]
    width: 50%
  input[type="submit"]
    border-left: none
    width: 50%
    min-width: 75px
    @include rounded-corners(0, 4px, 4px, 0)

.upsell
  padding: 10px 0 0

.item-list
  li
    border-bottom: 1px solid #ddd
    line-height: 2em
    .item
      color: #333
    .price
      color: #666
      float: right