@import "grid"
@import "stack-layout"
@import "colors"
@import "mixins"
@import "forms"
@import "flash"

body
  font:
    size: 11pt
    family: sans-serif

a
  color: $compliment
  text-decoration: none

h1, h2, h3, h4
  @include stack-content
  
h1
  font-family: "Helvetica" !important
  @include stack-content
  font-size: 2.5em
  color: $compliment
 
h2
  font-family: "Helvetica" !important
  @include stack-content
  font-size: 1.5em
  color: $compliment
  
h3
  font-size: 1em
  color: #666
  margin-bottom: .5em

h4
  color: #666
  font-size: 1.25em
  margin-bottom: .5em

#venue
  font-size: 1em
  margin-bottom: .5em
  strong
    font-weight: bold
  a
    display: block
    background: #f3f3f3
    width: 140px
    height: 140px
    float: left
    margin: 0 10px 10px 0
    @include rounded-corners(4px,4px,4px,4px)
    img
      @include rounded-corners(4px,4px,4px,4px)
  
#content
  margin: 10px 2%
  width: 96%
  @include stack-layout

#sidebar
  @include section
  @extend .stack1of3
  margin-top: 54px
  h2
    color: #BFBFBF
    text-transform: uppercase
    font-size: 16px
    font-weight: bold
    margin-bottom: 12px
    // line-height: 36px

#store
  @include section
  @extend .stack2of3

.sections .section-name
  color: $compliment

.kv
  li
    line-height: 2 * $line_height
  .key, .value
    display: inline-block
  .key
    font-weight: bold
    width: 30%

#donation
  h2
    margin-bottom: 12px
  p
    margin-bottom: 5px
  input[type="text"]
    width: 50%
  input[type="submit"]
    border-left: none
    width: 50%
    min-width: 75px
    @include rounded-corners(0, 4px, 4px, 0)

#description
  img
    float: left
    margin: 0 10px 10px 0
    @include rounded-corners(4px,4px,4px,4px)
  p
    margin-bottom: 10px

#contact
  margin-bottom: 30px

img#logo
  float: left
  margin-right: 10px

h1#logo
  padding-top: 10px
  font-weight: bold
  color: #404040
  margin: 0
  &::after
    clear: none

h3#producer
  color: #404040

ul#shows
  clear: both
  li
    margin-bottom: 10px
    clear: both
    .title
      border: 1px solid #b3b3b3
      padding: 10px
      overflow: hidden
      color: #4c4c4c
      .date, .month, .day, .time, h4.day_and_month
        color: #4c4c4c !important
      &:hover
        background: #f2f2f2
        cursor: pointer
      &.active, &.active:hover
        @include gradient(#fff, #e6e6e6)
        .date, .month, .day, .time, h4.day_and_month
          color: #191919 !important
      .date
        width: 50px
        float: left
        margin-right: 10px
        text-align: center
        .month
          text-transform: uppercase
          font-size: 10px
        .day
          font-size: 30px
      .time
        float: left
        h4.day_and_month
          font-weight: bold
          margin-bottom: 5px
    
    .sections
      padding: 10px
      margin-left: 60px
      margin-bottom: 20px
      .section
        margin-bottom: 20px
        h4
          font-weight: bold
          margin-bottom: 5px
          color: #404040
          span.price
            font-weight: normal
        p
          margin-bottom: 10px
        input[type="submit"]
          @include gradient(#2086a6, #175c71)
          color: #fff
          text-shadow: none
          font-weight: normal

.calendar-month
  margin-bottom: 50px
  float: left
  margin-right: 30px
  h3
    font-weight: bold
    span
      font-weight: normal

table.calendar
  width: 175px
  td
    border: 1px solid #f3f3f3
    color: #999
    letter-spacing: 0
    word-spacing: 0
    width: 25px
    height: 25px
    text-align: center
    font-size: 10px
    font-family: Verdana, sans-serif
    vertical-align: middle
    &.filler
      border: none
    &.show
      background: #2086a6
      color: #fff
      &:hover
        background: #175c71
        cursor: pointer