= render :partial => 'widgets/widget', :locals => { :event => @event, :organization => @event.organization }

#sidebar
  #donation
    %h1 Donate
    %h2 Add a donation

    %p Help support the show by adding a donation to your order!

#store
  #artfully-alert.flash.error
  #event
