:javascript
  $(document).ready(function(){
    artfully.configure({
      base_uri: '#{root_url}api/',
      store_uri: '#{root_url}store/',
    });
    #{render :partial => "widgets/event", :locals => { :event => @event } unless @event.nil? }
    #{render :partial => "widgets/donation", :locals => { :organization => @event.organization } unless @event.organization.nil? }
  });

#sidebar
  #donation
    %h1 Donate
    %h2 Add a donation

    %p Help support the show by adding a donation to your order!

#store
  #artfully-alert.flash.error
  #event
