body{
  font-family:Arial, Tahoma, sans-serif;
  font-size:11pt;
}
#page{
  width:960px;
  margin:40px auto;
  padding-bottom:40px;
  -moz-box-shadow: 3px 3px 3px #aaa;
  -webkit-box-shadow: 3px 3px 3px #aaa;
  box-shadow: 3px 3px 3px #aaa;
  border:1px solid #ddd;

}
#header{
  background:#eee;
  height:120px;
  margin-bottom:10px;
}
#header h1 a{
  margin:0 40px;
  font-size:2em;
  color:#666;
  line-height:120px;
  text-decoration:none;
}

h2 {
	margin: 10px 0px 2px 0px;
}

h3 {
  font-size:1.5em;
  line-height:2em;
  background:#ccc;
  clear:both;
  padding:0 10px;
  margin:10px 0;
}
#error_explanation {
  background:#aaa;
  padding:10px;
  margin:10px;
}
#error_explanation li{
  font-size:.8em;
  margin-left:20px;
}


#session_nav{
  float:right;
  margin:10px;
  font-size:.8em;
}

#menu{
  margin:0 10px 40px;
  overflow:auto;
}

#menu li{
  float:left;
  margin-right:5px;
  font-size:.8em;
}

#menu li a{
  color:#eee;
  text-decoration:none;
  display:block;
  padding:7px 10px;
  background:#666;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}

.ticket-list{
  overflow:auto;
}
.ticket{
  width:420px;
  font-size:.8em;
  border:1px solid #ccc;
  background:#eee;
  margin:10px;
  padding:10px;
  float:left;
}
.ticket .event{
  font-size:1.3em;
  font-weight:normal;
  line-height:1.3em;
}

.ticket h5 a{
  color:#333;
}
.ticket h6{
 color:#666;
 border-bottom:1px solid #ccc;
 margin-bottom:5px;
 padding-bottom:5px;
}

.line-item {
  font-size:.8em;
  border-bottom:1px solid #ccc;
  padding:.5em 0;
  margin:1em 0;
}

.line-item .name {
}

.line-item .price {
  float:right;
}

#content {
	padding-left:20px;
}

a.link {
	text-decoration:none;
	color:#006B91;
}

a.link:hover {
	text-decoration:underline;
	color:#006B91;
}

.links-bar {
	padding:5px 10px;
	margin-bottom:5px;
	background-color:#DACAA8;
	font-size:12px;
}

.sub-container {
	margin-top:10px;
}

table,th, td {
	border: 0px;
}

th {
	background-color:#78A5AC;
	color:white;
	padding: 2px 0px;
}

td {
	padding:4px 20px 4px 4px;
}

.col-65 {
	float:left;
	width:65%;
}	

.col-30 {
	float:left;
	width:30%;
}

#seating-chart {
  border:1px solid #DACAA8;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}

#seating-chart-header {
	padding:3px;
	color:black;
	background-color:#DACAA8;
}

#seating-chart-content {
	padding:5px;
}

.clear {
	clear:both;
}

tr.chart-name {
	font-size:12pt;
	border-bottom:1px dashed #CCCCCC;
}

table#chart-list {
	width:500px;
}

tr.chart-details {
	font-size:10pt;
}

td.controls {
	font-size:10pt;
	text-align:right;
}

.day-of-week-display {
	width:20px;
}

#performance-table {
	width:90%;
}

#widget-display {
	width:250px;
	height:300px;
}

.athena-ticket {
	float:left;
	text-align:center;
  -moz-box-shadow: 3px 3px 3px #ccc;
  -webkit-box-shadow: 3px 3px 3px #ccc;
  box-shadow: 3px 3px 3px #ccc;
  border:1px solid #006B91;
	margin:10px;
	padding:10px;
}

.athena-ticket .event {
	font-size:24px;
	font-weight:bold;
}