.stackAuto {
  width: auto; }

.stack, form ul li .label span.required, form ul li .label-and-element, .full.element, .stack1of2, .stack1of3, form ul li .label, .stack2of3, form ul li .element, .stack1of4, .quarter.element, #controls, #customer-confirmation, #credit_card-confirmation, #billing_address-confirmation, .stack3of4, #cart, .stack1of5, .single_field .label, .single_field .submit, .stack2of5, .stack3of5, .single_field .element, .stack4of5, .stack1of6, .stack1of7, .stack1of10, .stackAuto {
  display: inline-block;
  font-family: "Courier New", monospace;
  letter-spacing: -0.65em;
  word-spacing: -0.65em;
  text-align: center;
  vertical-align: top; }

.stack, form ul li .label span.required, form ul li .label-and-element, .full.element {
  width: 100%; }

.stack1of2 {
  width: 50%; }

.stack1of3, form ul li .label {
  width: 33.334%; }

.stack2of3, form ul li .element {
  width: 66.667%; }

.stack1of4, .quarter.element, #controls, #customer-confirmation, #credit_card-confirmation, #billing_address-confirmation {
  width: 25%; }

.stack3of4, #cart {
  width: 75%; }

.stack1of5, .single_field .label, .single_field .submit {
  width: 20%; }

.stack2of5 {
  width: 40%; }

.stack3of5, .single_field .element {
  width: 60%; }

.stack4of5 {
  width: 80%; }

.stack1of6 {
  width: 16.667%; }

.stack1of7 {
  width: 14.285%; }

.stack1of10 {
  width: 10%; }

.grouped-checkbox {
  width: 1em; }

form fieldset {
  margin-bottom: 12px; }
form fieldset.floater {
  float: left; }
form fieldset.thirdish {
  width: 32%;
  margin-right: 5px;
  min-height: 200px; }
form fieldset.slim {
  width: 14%;
  margin-right: 5px;
  min-height: 200px; }
form legend {
  line-height: 12px;
  color: #666666;
  font-size: 1.5em;
  font-family: Raleway, sans-serif; }

form ul li {
  font-family: "Courier New", monospace;
  letter-spacing: -0.65em;
  word-spacing: -0.65em;
  text-align: center;
  vertical-align: top;
  text-align: left;
  line-height: 36px;
  min-height: 36px;
  position: relative; }
  form ul li input[type="submit"] {
    text-align: left; }
  form ul li .element input, form ul li .element select {
    margin: 7px 0 6px 0;
    width: 98%; }
  form ul li .element input[type="checkbox"] {
    width: auto; }
  form ul li .quantity.element {
    text-align: right; }
    form ul li .quantity.element select {
      display: inline-block;
      width: 4em; }
  form ul li .date_field {
    text-align: left; }
    form ul li .date_field select {
      width: 48%;
      display: inline;
      margin-right: 2%; }
  form ul li .label span.required {
    color: red; }
  form ul li .eighty {
    width: 80%; }
  form ul li .hidden.label {
    display: none; }
  form ul li .label-and-element {
    text-align: left; }
    form ul li .label-and-element label, form ul li .label-and-element input {
      display: inline; }
  form ul li .checkbox {
    float: left; }
  form ul li .checkbox-text {
    font-size: 0.8em;
    margin: 0.3em 0 0.25em 1.5em;
    color: #999999; }
  form ul li .active.description {
    color: #666666; }
  form ul li .form-error {
    color: #f03504; }

form .description, form .form-error {
  font-size: 0.75em;
  line-height: 12px;
  width: 75%;
  color: #999999; }

form .description {
  margin-top: -3px;
  width: 100%; }

.element > div, .element label, .label > div, .label label, .label-and-element > div, .label-and-element label, .cancel-submit > div, .cancel-submit label {
  display: block;
  font-family: "Arial", sans-serif;
  letter-spacing: normal;
  word-spacing: normal;
  text-align: left; }
  .element > div:after, .element label:after, .label > div:after, .label label:after, .label-and-element > div:after, .label-and-element label:after, .cancel-submit > div:after, .cancel-submit label:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
.element > input, .element select, .label > input, .label select, .label-and-element > input, .label-and-element select, .cancel-submit > input, .cancel-submit select {
  display: block;
  font-family: "Arial", sans-serif;
  letter-spacing: normal;
  word-spacing: normal;
  text-align: left; }

.double.element {
  text-align: left; }
  .double.element select {
    width: 48%;
    display: inline;
    margin-right: 2%; }
  .double.element input {
    width: 48%;
    display: inline;
    margin-right: 2%; }
    .double.element input:last-child {
      margin-right: 0; }
  .double.element .form-error {
    width: 48%;
    margin-right: 2%;
    float: left; }

.paired.element input, .paired.element select {
  float: left;
  width: 75%; }
.paired.element .half {
  float: left;
  width: 37.5%; }
.paired.element input.half {
  border-left: none; }
.paired.element .description {
  float: left; }
.paired.element input[type=submit], .paired.element input[type=button] {
  width: 25%;
  text-align: center;
  margin: 7px 0 6px;
  border-left: none;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0; }

.single_field {
  margin-top: 10px; }
  .single_field .element input {
    width: 100%; }
  .single_field .submit input {
    width: 100%;
    border-left: none;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0; }

.code textarea {
  height: 16em; }

.hidden-target {
  display: none; }

.cancel-submit {
  margin: 12px 0 0; }
  .cancel-submit a {
    display: block;
    font-family: "Arial", sans-serif;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: left;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    float: left;
    font-size: 0.75em;
    line-height: 14px;
    border: 1px solid;
    border-color: #dddddd #bbbbbb #999999;
    border-right: none;
    background: #eeeeee;
    color: #999999;
    padding: 3px 10px 4px; }
    .cancel-submit a:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
  .cancel-submit input[type="submit"] {
    padding-left: 3em;
    padding-right: 3em;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0; }

input, textarea {
  color: black; }

.placeholder {
  color: #aaaaaa; }

form.jeditable input {
  padding: 1px 0; }
form.jeditable button {
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  border-left: none;
  display: block;
  float: right;
  padding: 3px 10px; }

.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px; }
.ui-timepicker-div dl {
  text-align: left; }
.ui-timepicker-div dl dt {
  height: 25px; }
.ui-timepicker-div dl dd {
  margin: -25px 0 10px 65px; }
.ui-timepicker-div td {
  font-size: 90%; }

.radio-list li .radio {
  text-align: center;
  display: inline-block;
  width: 36px; }

#reseller-profile textarea {
  height: 100px; }

.flash {
  display: block;
  font-family: "Arial", sans-serif;
  letter-spacing: normal;
  word-spacing: normal;
  text-align: left;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  color: white;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  padding: 12px;
  margin: 0 12px 12px;
  line-height: 12px; }
  .flash:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .flash .close {
    margin-left: 12px;
    float: right;
    cursor: pointer; }
  .flash p {
    color: rgba(255, 255, 255, 0.97) !important; }
  .flash ul li {
    display: block;
    font-family: "Arial", sans-serif;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: left; }
    .flash ul li:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

.error, .warning {
  background: #fb572c;
  background: -moz-linear-gradient(top, #fb572c 0%, #f03504 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fb572c), color-stop(100%, #f03504)); }

.notice, .info, .success {
  background: #0a99b3;
  background: -moz-linear-gradient(top, #0a99b3 0%, #077083 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0a99b3), color-stop(100%, #077083)); }
  .notice a, .info a, .success a {
    color: white;
    font-weight: bold;
    text-decoration: underline; }

#content {
  margin: 10px 2%;
  width: 96%;
  display: inline-block;
  font-family: "Courier New", monospace;
  letter-spacing: -0.65em;
  word-spacing: -0.65em;
  text-align: center;
  vertical-align: top; }

a {
  color: #077083;
  text-decoration: none; }

#cart, #controls {
  position: relative;
  padding-bottom: 12px; }
  #cart > *, #controls > * {
    margin: 0 12px 12px;
    display: block;
    font-family: "Arial", sans-serif;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: left; }
    #cart > *:after, #controls > *:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
  #cart > *, #controls > * {
    margin-top: 0;
    margin-bottom: 0; }

#total {
  text-align: center;
  font-weight: bold;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dddddd; }
  #total span {
    text-transform: uppercase;
    font-size: 0.8em;
    color: #cccccc; }
  #total .price {
    color: #999999;
    font-size: 2.5em; }

#checkout-now {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dddddd; }
  #checkout-now a {
    display: block;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    color: white;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    background: #0a99b3;
    background: -moz-linear-gradient(top, #0a99b3 14%, #077083 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(14%, #0a99b3), color-stop(100%, #077083));
    border: 1px solid #065b6b;
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    line-height: 40px; }
  #checkout-now input {
    display: block;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    color: white;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    background: #0a99b3;
    background: -moz-linear-gradient(top, #0a99b3 14%, #077083 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(14%, #0a99b3), color-stop(100%, #077083));
    border: 1px solid #065b6b;
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    line-height: 40px; }

#checkout-now.disabled a {
  background: #dddddd;
  background: -moz-linear-gradient(top, #dddddd 14%, #cccccc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(14%, #dddddd), color-stop(100%, #cccccc));
  border: 1px solid #cccccc;
  cursor: default; }

#clear-cart {
  text-align: right;
  font-size: 0.8em; }
  #clear-cart a {
    color: #999999; }

.upsell {
  padding: 10px 0 0; }

.item-list li {
  border-bottom: 1px solid #dddddd;
  line-height: 2em; }
  .item-list li .fee {
    color: #666677 !important;
    font-style: italic; }
  .item-list li .item {
    color: #333333; }
  .item-list li .price {
    color: #666666;
    float: right; }

.sliding-wizard {
  overflow: hidden;
  padding: 10px 0 0; }
  .sliding-wizard .next {
    float: right; }

#confirmation p {
  text-transform: capitalize; }

#customer-confirmation, #credit_card-confirmation, #billing_address-confirmation {
  position: relative;
  padding-bottom: 12px; }
  #customer-confirmation > *, #credit_card-confirmation > *, #billing_address-confirmation > * {
    margin: 0 12px 12px;
    display: block;
    font-family: "Arial", sans-serif;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: left; }
    #customer-confirmation > *:after, #credit_card-confirmation > *:after, #billing_address-confirmation > *:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
  #customer-confirmation > *, #credit_card-confirmation > *, #billing_address-confirmation > * {
    margin: 0; }

#steps {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dddddd; }
  #steps li {
    list-style-type: decimal;
    margin-left: 2em;
    font-size: 0.8em;
    padding: 0.25em 0;
    color: #666666; }
    #steps li.active {
      font-weight: bold; }
