form ul li.element{
  clear:both;
  padding:5px 0;
}

form ul li.element.left, form ul li.element.right{
  width:50%;
  float:left;
  clear:none;
}

form ul li.element.right{
}
form ul li.element.hidden{
  display:none;
}
form ul li.element label{
  font-size:9pt;
  font-weight:bold;
  margin:0 10px;
  display:block;
  color:#333;
}

form ul li.element input, form ul li.element textarea{
  font-family:Arial;
  display:block;
  width:100%;
}
form ul li.element input, form ul li.element textarea{
  padding:0;
  border-width:0;
  background-color:#fff;
  font-family:Arial;
}
form ul li.element textarea{
  font-size:9pt;
}
form ul li.element .required .input-fix{
  text-indent:0;
}
form ul li.element select{
  border:1px solid #ccc;
  background-color:#fff;
  padding:4px 4px 4px 2px;
  margin:5px 0;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
}

form ul li.element.submit {
  margin:0 10px;
}

form ul li.element.submit input{
  width:25%;
  margin:5px 0;
  border:1px solid #ccc;
  background-color:#fff;
  padding:5px;
  display:block;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
}

.input-fix{
  margin:5px 10px;
  border:1px solid #ccc;
  background-color:#fff;;
  padding:5px;
  display:block;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
}
form ul li.element ul.multi-element-list{
  margin:5px 0;
}
form ul li.element ul.multi-element-list li label, form ul li.element label.checkbox{
  font-weight:normal;
}
form ul li.element ul.multi-element-list li label input, form ul li.element label.checkbox input{
  display:inline;
  width:auto;
  margin-right:5px;
  padding:5px;
  background:none;
}

form ul li.element label.checkbox{
  font-weight:bold;
}
