@import url(reset.css);

#header {
    display:none;
}

#content{
}

#page {
}

#logo {
    position: relative;
    top: 0px;
    right: 0px; }

.button_link {
}

.document {
    width: 100%;
}

body {
    font-family: Georgia, serif;
}

h1 {
    display:none;
}

h2, h3, h4, h5, h6 {
    color: black;
    font-family: "Raleway", sans-serif;
    font-weight:normal;
}

table {
    width: 100%;
    position: relative;
    top: 0px;
}

table thead th {
    background: white;
    text-transform:uppercase;
    font-weight:normal;
    border-bottom:1px solid #ccc;
}

a:link, a:visited {
    color: #520;
    background: transparent;
    text-decoration: underline;
    font-size: 10pt;
    font-weight: normal;
}
