/* 
    Document   : printing.css
    Created on : Mar 2, 2011, 6:18:13 PM
    Author     : ian
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

