.stackAuto {
  width: auto; }

.stack, form ul li .label span.required, form ul li .label-and-element, .full.element, .stack1of2, .stack1of3, form ul li .label, #sidebar, .stack2of3, form ul li .element, #store, .stack1of4, .quarter.element, .stack3of4, .stack1of5, .single_field .label, .single_field .submit, .stack2of5, .stack3of5, .single_field .element, .stack4of5, .stack1of6, .stack1of7, .stack1of10, .stackAuto {
  display: inline-block;
  font-family: "Courier New", monospace;
  letter-spacing: -0.65em;
  word-spacing: -0.65em;
  text-align: center;
  vertical-align: top; }

.stack, form ul li .label span.required, form ul li .label-and-element, .full.element {
  width: 100%; }

.stack1of2 {
  width: 50%; }

.stack1of3, form ul li .label, #sidebar {
  width: 33.334%; }

.stack2of3, form ul li .element, #store {
  width: 66.667%; }

.stack1of4, .quarter.element {
  width: 25%; }

.stack3of4 {
  width: 75%; }

.stack1of5, .single_field .label, .single_field .submit {
  width: 20%; }

.stack2of5 {
  width: 40%; }

.stack3of5, .single_field .element {
  width: 60%; }

.stack4of5 {
  width: 80%; }

.stack1of6 {
  width: 16.667%; }

.stack1of7 {
  width: 14.285%; }

.stack1of10 {
  width: 10%; }

.grouped-checkbox {
  width: 1em; }

form fieldset {
  margin-bottom: 12px; }
form fieldset.floater {
  float: left; }
form fieldset.thirdish {
  width: 32%;
  margin-right: 5px;
  min-height: 200px; }
form fieldset.slim {
  width: 14%;
  margin-right: 5px;
  min-height: 200px; }
form legend {
  line-height: 12px;
  color: #666666;
  font-size: 1.5em;
  font-family: Raleway, sans-serif; }

form ul li {
  font-family: "Courier New", monospace;
  letter-spacing: -0.65em;
  word-spacing: -0.65em;
  text-align: center;
  vertical-align: top;
  text-align: left;
  line-height: 36px;
  min-height: 36px;
  position: relative; }
  form ul li input[type="submit"] {
    text-align: left; }
  form ul li .element input, form ul li .element select {
    margin: 7px 0 6px 0;
    width: 98%; }
  form ul li .element input[type="checkbox"] {
    width: auto; }
  form ul li .quantity.element {
    text-align: right; }
    form ul li .quantity.element select {
      display: inline-block;
      width: 4em; }
  form ul li .date_field {
    text-align: left; }
    form ul li .date_field select {
      width: 48%;
      display: inline;
      margin-right: 2%; }
  form ul li .label span.required {
    color: red; }
  form ul li .eighty {
    width: 80%; }
  form ul li .hidden.label {
    display: none; }
  form ul li .label-and-element {
    text-align: left; }
    form ul li .label-and-element label, form ul li .label-and-element input {
      display: inline; }
  form ul li .checkbox {
    float: left; }
  form ul li .checkbox-text {
    font-size: 0.8em;
    margin: 0.3em 0 0.25em 1.5em;
    color: #999999; }
  form ul li .active.description {
    color: #666666; }
  form ul li .form-error {
    color: #f03504; }

form .description, form .form-error {
  font-size: 0.75em;
  line-height: 12px;
  width: 75%;
  color: #999999; }

form .description {
  margin-top: -3px;
  width: 100%; }

.element > div, .element label, .label > div, .label label, .label-and-element > div, .label-and-element label, .cancel-submit > div, .cancel-submit label {
  display: block;
  font-family: "Arial", sans-serif;
  letter-spacing: normal;
  word-spacing: normal;
  text-align: left; }
  .element > div:after, .element label:after, .label > div:after, .label label:after, .label-and-element > div:after, .label-and-element label:after, .cancel-submit > div:after, .cancel-submit label:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
.element > input, .element select, .label > input, .label select, .label-and-element > input, .label-and-element select, .cancel-submit > input, .cancel-submit select {
  display: block;
  font-family: "Arial", sans-serif;
  letter-spacing: normal;
  word-spacing: normal;
  text-align: left; }

.double.element {
  text-align: left; }
  .double.element select {
    width: 48%;
    display: inline;
    margin-right: 2%; }
  .double.element input {
    width: 48%;
    display: inline;
    margin-right: 2%; }
    .double.element input:last-child {
      margin-right: 0; }
  .double.element .form-error {
    width: 48%;
    margin-right: 2%;
    float: left; }

.paired.element input, .paired.element select {
  float: left;
  width: 75%; }
.paired.element .half {
  float: left;
  width: 37.5%; }
.paired.element input.half {
  border-left: none; }
.paired.element .description {
  float: left; }
.paired.element input[type=submit], .paired.element input[type=button] {
  width: 25%;
  text-align: center;
  margin: 7px 0 6px;
  border-left: none;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0; }

.single_field {
  margin-top: 10px; }
  .single_field .element input {
    width: 100%; }
  .single_field .submit input {
    width: 100%;
    border-left: none;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0; }

.code textarea {
  height: 16em; }

.hidden-target {
  display: none; }

.cancel-submit {
  margin: 12px 0 0; }
  .cancel-submit a {
    display: block;
    font-family: "Arial", sans-serif;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: left;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    float: left;
    font-size: 0.75em;
    line-height: 14px;
    border: 1px solid;
    border-color: #dddddd #bbbbbb #999999;
    border-right: none;
    background: #eeeeee;
    color: #999999;
    padding: 3px 10px 4px; }
    .cancel-submit a:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
  .cancel-submit input[type="submit"] {
    padding-left: 3em;
    padding-right: 3em;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0; }

input, textarea {
  color: black; }

.placeholder {
  color: #aaaaaa; }

form.jeditable input {
  padding: 1px 0; }
form.jeditable button {
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  border-left: none;
  display: block;
  float: right;
  padding: 3px 10px; }

.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px; }
.ui-timepicker-div dl {
  text-align: left; }
.ui-timepicker-div dl dt {
  height: 25px; }
.ui-timepicker-div dl dd {
  margin: -25px 0 10px 65px; }
.ui-timepicker-div td {
  font-size: 90%; }

.radio-list li .radio {
  text-align: center;
  display: inline-block;
  width: 36px; }

#reseller-profile textarea {
  height: 100px; }

.flash {
  display: block;
  font-family: "Arial", sans-serif;
  letter-spacing: normal;
  word-spacing: normal;
  text-align: left;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  color: white;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  padding: 12px;
  margin: 0 12px 12px;
  line-height: 12px; }
  .flash:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .flash .close {
    margin-left: 12px;
    float: right;
    cursor: pointer; }
  .flash p {
    color: rgba(255, 255, 255, 0.97) !important; }
  .flash ul li {
    display: block;
    font-family: "Arial", sans-serif;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: left; }
    .flash ul li:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

.error, .warning {
  background: #fb572c;
  background: -moz-linear-gradient(top, #fb572c 0%, #f03504 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fb572c), color-stop(100%, #f03504));
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fb572c), to(#f03504));
  background-image: -moz-linear-gradient(top, #fb572c, #f03504);
  background-image: -ms-linear-gradient(top, #fb572c, #f03504);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fb572c), color-stop(100%, #f03504));
  background-image: -webkit-linear-gradient(top, #fb572c, #f03504);
  background-image: -o-linear-gradient(top, #fb572c, #f03504);
  background-image: linear-gradient(top, #fb572c, #f03504); }

.notice, .info, .success {
  background: #0a99b3;
  background: -moz-linear-gradient(top, #0a99b3 0%, #077083 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0a99b3), color-stop(100%, #077083));
  background-image: -khtml-gradient(linear, left top, left bottom, from(#0a99b3), to(#077083));
  background-image: -moz-linear-gradient(top, #0a99b3, #077083);
  background-image: -ms-linear-gradient(top, #0a99b3, #077083);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0a99b3), color-stop(100%, #077083));
  background-image: -webkit-linear-gradient(top, #0a99b3, #077083);
  background-image: -o-linear-gradient(top, #0a99b3, #077083);
  background-image: linear-gradient(top, #0a99b3, #077083); }

body {
  font-size: 11pt;
  font-family: sans-serif; }

a {
  color: #077083;
  text-decoration: none; }

h1, h2, h3, h4 {
  display: block;
  font-family: "Arial", sans-serif;
  letter-spacing: normal;
  word-spacing: normal;
  text-align: left; }
  h1:after, h2:after, h3:after, h4:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

h1 {
  font-family: "Helvetica" !important;
  display: block;
  font-family: "Arial", sans-serif;
  letter-spacing: normal;
  word-spacing: normal;
  text-align: left;
  font-size: 2.5em;
  color: #077083; }
  h1:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

h2 {
  color: #bfbfbf;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 20px; }

h3 {
  font-size: 1em;
  color: #666666;
  margin-bottom: 0.5em; }

h4 {
  color: #666666;
  font-size: 1.25em;
  margin-bottom: 0.5em; }

#venue {
  line-height: 1.4em;
  font-size: 1em;
  margin-bottom: 0.5em; }
  #venue strong {
    font-weight: bold; }
  #venue a {
    display: block;
    background: #f3f3f3;
    width: 140px;
    height: 140px;
    float: left;
    margin: 0 10px 10px 0;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px; }
    #venue a img {
      -moz-border-radius: 4px 4px 4px 4px;
      -webkit-border-radius: 4px 4px 4px 4px;
      border-radius: 4px 4px 4px 4px; }

#content {
  margin: 10px 2%;
  width: 96%;
  display: inline-block;
  font-family: "Courier New", monospace;
  letter-spacing: -0.65em;
  word-spacing: -0.65em;
  text-align: center;
  vertical-align: top; }

#sidebar {
  position: relative;
  padding-bottom: 12px;
  margin-top: 54px; }
  #sidebar > * {
    margin: 0 12px 12px;
    display: block;
    font-family: "Arial", sans-serif;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: left; }
    #sidebar > *:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
  #sidebar h2 {
    color: #bfbfbf;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px; }

#store {
  position: relative;
  padding-bottom: 12px; }
  #store > * {
    margin: 0 12px 12px;
    display: block;
    font-family: "Arial", sans-serif;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: left; }
    #store > *:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

.sections .section-name {
  color: #077083; }

.kv li {
  line-height: 24px; }
.kv .key, .kv .value {
  display: inline-block; }
.kv .key {
  font-weight: bold;
  width: 30%; }

#donation h2 {
  margin-bottom: 12px; }
#donation p {
  line-height: 1.4em;
  margin-bottom: 5px; }
#donation input[type="text"] {
  width: 30%; }
#donation input[type="submit"] {
  background: #2086a6;
  background: -moz-linear-gradient(top, #2086a6 0%, #175c71 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2086a6), color-stop(100%, #175c71));
  background-image: -khtml-gradient(linear, left top, left bottom, from(#2086a6), to(#175c71));
  background-image: -moz-linear-gradient(top, #2086a6, #175c71);
  background-image: -ms-linear-gradient(top, #2086a6, #175c71);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2086a6), color-stop(100%, #175c71));
  background-image: -webkit-linear-gradient(top, #2086a6, #175c71);
  background-image: -o-linear-gradient(top, #2086a6, #175c71);
  background-image: linear-gradient(top, #2086a6, #175c71);
  color: white;
  text-shadow: none;
  font-weight: normal; }

#description img {
  float: left;
  margin: 0 10px 10px 0;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px; }
#description p {
  line-height: 1.4em;
  margin-bottom: 10px; }

#contact {
  line-height: 1.4em;
  margin-bottom: 30px; }

img#logo {
  float: left;
  margin-right: 10px; }

h1#logo {
  padding-top: 10px;
  font-weight: bold;
  color: #404040;
  margin: 0; }
  h1#logo::after {
    clear: none; }

h3#producer {
  color: #404040; }

ul#shows {
  clear: both; }
  ul#shows li {
    margin-bottom: 10px;
    clear: both; }
    ul#shows li .title {
      border: 1px solid #b3b3b3;
      padding: 10px;
      overflow: hidden;
      color: #4c4c4c; }
      ul#shows li .title .date, ul#shows li .title .month, ul#shows li .title .day, ul#shows li .title .time, ul#shows li .title h4.day_and_month {
        color: #4c4c4c !important; }
      ul#shows li .title:hover {
        background: #f2f2f2;
        cursor: pointer; }
      ul#shows li .title.active, ul#shows li .title.active:hover {
        background: white;
        background: -moz-linear-gradient(top, white 0%, #e6e6e6 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e6e6e6));
        background-image: -khtml-gradient(linear, left top, left bottom, from(white), to(#e6e6e6));
        background-image: -moz-linear-gradient(top, white, #e6e6e6);
        background-image: -ms-linear-gradient(top, white, #e6e6e6);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e6e6e6));
        background-image: -webkit-linear-gradient(top, white, #e6e6e6);
        background-image: -o-linear-gradient(top, white, #e6e6e6);
        background-image: linear-gradient(top, white, #e6e6e6); }
        ul#shows li .title.active .date, ul#shows li .title.active .month, ul#shows li .title.active .day, ul#shows li .title.active .time, ul#shows li .title.active h4.day_and_month, ul#shows li .title.active:hover .date, ul#shows li .title.active:hover .month, ul#shows li .title.active:hover .day, ul#shows li .title.active:hover .time, ul#shows li .title.active:hover h4.day_and_month {
          color: #191919 !important; }
      ul#shows li .title .date {
        width: 50px;
        float: left;
        margin-right: 10px;
        text-align: center; }
        ul#shows li .title .date .month {
          text-transform: uppercase;
          font-size: 10px; }
        ul#shows li .title .date .day {
          font-size: 30px; }
      ul#shows li .title .time {
        float: left; }
        ul#shows li .title .time h4.day_and_month {
          font-weight: bold;
          margin-bottom: 5px; }
    ul#shows li .sections {
      padding: 10px;
      margin-left: 60px;
      margin-bottom: 20px; }
      ul#shows li .sections .section {
        margin-bottom: 20px; }
        ul#shows li .sections .section h4 {
          font-weight: bold;
          margin-bottom: 5px;
          color: #404040; }
          ul#shows li .sections .section h4 span.price {
            font-weight: normal; }
        ul#shows li .sections .section p {
          margin-bottom: 10px;
          line-height: 1.4em; }
        ul#shows li .sections .section input[type="submit"] {
          background: #2086a6;
          background: -moz-linear-gradient(top, #2086a6 0%, #175c71 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2086a6), color-stop(100%, #175c71));
          background-image: -khtml-gradient(linear, left top, left bottom, from(#2086a6), to(#175c71));
          background-image: -moz-linear-gradient(top, #2086a6, #175c71);
          background-image: -ms-linear-gradient(top, #2086a6, #175c71);
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2086a6), color-stop(100%, #175c71));
          background-image: -webkit-linear-gradient(top, #2086a6, #175c71);
          background-image: -o-linear-gradient(top, #2086a6, #175c71);
          background-image: linear-gradient(top, #2086a6, #175c71);
          color: white;
          text-shadow: none;
          font-weight: normal; }

.calendar-month {
  margin-bottom: 50px;
  float: left;
  margin-right: 30px; }
  .calendar-month h3 {
    font-weight: bold; }

table.calendar {
  width: 175px; }
  table.calendar td {
    border: 1px solid #f3f3f3;
    color: #999999;
    letter-spacing: 0;
    word-spacing: 0;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 10px;
    font-family: Verdana, sans-serif;
    vertical-align: middle; }
    table.calendar td.filler {
      border: none; }
    table.calendar td.show {
      background: #2086a6;
      color: white; }
      table.calendar td.show:hover {
        background: #175c71;
        cursor: pointer; }

#shopping-cart {
  width: auto;
  background-color: #e6e6e6 !important; }
  #shopping-cart #steps {
    display: none;
    position: static;
    background: white;
    position: static;
    width: 650px;
    margin: 0px auto;
    padding: 50px;
    padding-top: 10px;
    padding-bottom: 0;
    height: 350px; }
    #shopping-cart #steps ul#nav {
      width: 650px;
      margin: 0 auto;
      overflow: hidden;
      margin-bottom: 20px; }
      #shopping-cart #steps ul#nav li {
        float: left;
        list-style: none;
        letter-spacing: 0;
        font-family: "Helvetica", Arial, arial, sans-serif;
        word-spacing: normal; }
        #shopping-cart #steps ul#nav li.active a {
          background-color: #0a99b3;
          color: white;
          font-weight: normal; }
        #shopping-cart #steps ul#nav li a {
          -moz-border-radius: 15px 15px 15px 15px;
          -webkit-border-radius: 15px 15px 15px 15px;
          border-radius: 15px 15px 15px 15px;
          font-size: 12px;
          padding-top: 8px;
          padding-bottom: 8px;
          margin-top: 4px;
          padding-right: 12px;
          padding-left: 12px;
          margin-right: 2px;
          line-height: 14px;
          display: block;
          color: #999999; }
    #shopping-cart #steps fieldset ul {
      list-style: none; }
      #shopping-cart #steps fieldset ul li {
        list-style: none;
        clear: both;
        margin-bottom: 10px; }
        #shopping-cart #steps fieldset ul li#agreement {
          margin-left: 0; }
          #shopping-cart #steps fieldset ul li#agreement .label {
            width: 100%;
            display: inline; }
        #shopping-cart #steps fieldset ul li .label {
          width: 20%;
          display: inline-block;
          vertical-align: top;
          float: left;
          font-weight: bold; }
        #shopping-cart #steps fieldset ul li .element {
          width: 80%;
          display: inline-block;
          vertical-align: top;
          text-align: left; }
          #shopping-cart #steps fieldset ul li .element input {
            width: 50%;
            float: left;
            margin-right: 10px; }
            #shopping-cart #steps fieldset ul li .element input.error {
              border: 1px solid red;
              background-image: none; }
          #shopping-cart #steps fieldset ul li .element textarea {
            float: none; }
          #shopping-cart #steps fieldset ul li .element select {
            width: 50%;
            float: left;
            margin-right: 10px; }
            #shopping-cart #steps fieldset ul li .element select.error {
              border: 1px solid red;
              background-image: none; }
          #shopping-cart #steps fieldset ul li .element input.small, #shopping-cart #steps fieldset ul li .element select.small {
            width: 22%;
            display: inline;
            margin-right: 10px; }
          #shopping-cart #steps fieldset ul li .element select.small {
            float: left; }
          #shopping-cart #steps fieldset ul li .element #expiration-slash {
            float: left;
            padding-right: 10px; }
        #shopping-cart #steps fieldset ul li label.error {
          background-image: none;
          color: red;
          float: left; }
          #shopping-cart #steps fieldset ul li label.error.checkbox {
            margin-top: -15px;
            font-weight: normal; }
      #shopping-cart #steps fieldset ul li.stacked .label {
        width: 100%;
        float: none;
        clear: both; }
      #shopping-cart #steps fieldset ul li.stacked .element {
        width: 100%;
        display: inline-block;
        vertical-align: top;
        text-align: left; }
        #shopping-cart #steps fieldset ul li.stacked .element textarea {
          float: none; }
    #shopping-cart #steps .tab-pane {
      display: none; }
      #shopping-cart #steps .tab-pane.active {
        display: block; }
    #shopping-cart #steps #cart {
      width: 100%; }
      #shopping-cart #steps #cart table {
        margin-bottom: 30px;
        width: 100%;
        font-size: 13px;
        color: #666666; }
        #shopping-cart #steps #cart table tbody {
          width: 100%; }
        #shopping-cart #steps #cart table tr {
          width: 100%; }
          #shopping-cart #steps #cart table tr h5 {
            color: #222222;
            font-weight: bold;
            font-size: 15px;
            line-height: 18px; }
          #shopping-cart #steps #cart table tr td {
            padding: 10px; }
            #shopping-cart #steps #cart table tr td.quantity input {
              width: 90px; }
          #shopping-cart #steps #cart table tr td.remove a {
            background: #eeeeee;
            padding: 5px 10px;
            color: white;
            -moz-border-radius: 15px 15px 15px 15px;
            -webkit-border-radius: 15px 15px 15px 15px;
            border-radius: 15px 15px 15px 15px;
            font-size: 12px; }
            #shopping-cart #steps #cart table tr td.remove a:hover {
              background: #bbbbbb;
              color: white; }
          #shopping-cart #steps #cart table tr .over-limit {
            color: red; }
    #shopping-cart #steps .continue {
      padding: 20px;
      background: #cccccc;
      background: -moz-linear-gradient(top, #cccccc 0%, #e6e6e6 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cccccc), color-stop(100%, #e6e6e6));
      background-image: -khtml-gradient(linear, left top, left bottom, from(#cccccc), to(#e6e6e6));
      background-image: -moz-linear-gradient(top, #cccccc, #e6e6e6);
      background-image: -ms-linear-gradient(top, #cccccc, #e6e6e6);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cccccc), color-stop(100%, #e6e6e6));
      background-image: -webkit-linear-gradient(top, #cccccc, #e6e6e6);
      background-image: -o-linear-gradient(top, #cccccc, #e6e6e6);
      background-image: linear-gradient(top, #cccccc, #e6e6e6);
      overflow: hidden; }
      #shopping-cart #steps .continue h4 {
        font-weight: bold;
        color: #333333;
        margin-top: 15px;
        float: right;
        margin-right: 20px; }
    #shopping-cart #steps .continue a, #shopping-cart #steps #complete-purchase {
      float: right;
      width: 200px;
      display: block;
      -moz-border-radius: 2px 2px 2px 2px;
      -webkit-border-radius: 2px 2px 2px 2px;
      border-radius: 2px 2px 2px 2px;
      color: white;
      text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
      background: #0a99b3;
      background: -moz-linear-gradient(top, #0a99b3 14%, #077083 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(14%, #0a99b3), color-stop(100%, #077083));
      background-image: -khtml-gradient(linear, left top, left bottom, from(#0a99b3), to(#077083));
      background-image: -moz-linear-gradient(top, #0a99b3, #077083);
      background-image: -ms-linear-gradient(top, #0a99b3, #077083);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0a99b3), color-stop(100%, #077083));
      background-image: -webkit-linear-gradient(top, #0a99b3, #077083);
      background-image: -o-linear-gradient(top, #0a99b3, #077083);
      background-image: linear-gradient(top, #0a99b3, #077083);
      border: 1px solid #065b6b;
      font-size: 1em;
      text-align: center;
      font-weight: bold;
      line-height: 40px; }
      #shopping-cart #steps .continue a.disabled, #shopping-cart #steps #complete-purchase.disabled {
        background: #999999;
        background: -moz-linear-gradient(top, #999999 14%, #cccccc 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(14%, #999999), color-stop(100%, #cccccc));
        background-image: -khtml-gradient(linear, left top, left bottom, from(#999999), to(#cccccc));
        background-image: -moz-linear-gradient(top, #999999, #cccccc);
        background-image: -ms-linear-gradient(top, #999999, #cccccc);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #999999), color-stop(100%, #cccccc));
        background-image: -webkit-linear-gradient(top, #999999, #cccccc);
        background-image: -o-linear-gradient(top, #999999, #cccccc);
        background-image: linear-gradient(top, #999999, #cccccc);
        border: 1px solid #666666; }
    #shopping-cart #steps #user_agreement {
      height: 100px;
      border: 1px solid #cccccc;
      padding: 10px;
      overflow-y: scroll;
      font-size: 13px;
      margin-bottom: 20px; }
      #shopping-cart #steps #user_agreement p {
        margin-bottom: 13px; }
    #shopping-cart #steps #thanks p {
      margin-bottom: 10px;
      line-height: 1.4em; }

.hidden {
  display: none !important; }

#payment-details-message {
  height: 200px;
  text-align: center; }

#special-instructions #container {
  height: 200px; }
