body {
  padding-top: 10px; }

a {
  color: #077083;
  text-decoration: none; }

h6 {
  font-size: 18px;
  line-height: 27px; }

h3 {
  font-size: 1em;
  color: #666666;
  margin-bottom: 0.5em; }

h4 {
  color: #666666;
  font-size: 1.25em;
  margin-bottom: 0.5em; }

#venue {
  line-height: 1.4em;
  font-size: 1em; }
  #venue strong {
    font-weight: bold; }
  #venue a {
    display: block;
    background: #f3f3f3;
    width: 140px;
    height: 140px;
    float: left;
    margin: 0 10px 10px 0;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px; }
    #venue a img {
      -moz-border-radius: 4px 4px 4px 4px;
      -webkit-border-radius: 4px 4px 4px 4px;
      border-radius: 4px 4px 4px 4px; }

.side-section {
  margin-bottom: 20px;
  clear: both;
  overflow: hidden; }

#sidebar {
  margin-top: 54px; }
  #sidebar h2 {
    color: #bfbfbf;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px; }

.sections .section-name {
  color: #077083; }

.kv .key, .kv .value {
  display: inline-block; }
.kv .key {
  font-weight: bold;
  width: 30%; }

#donation h2 {
  margin-bottom: 12px; }
#donation p {
  line-height: 1.4em;
  margin-bottom: 5px; }

#description img {
  float: left;
  margin: 0 10px 10px 0;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px; }
#description p {
  line-height: 1.4em;
  margin-bottom: 10px; }

#contact {
  line-height: 1.4em; }

img#logo {
  float: left;
  margin-right: 10px; }

ul#shows {
  clear: both; }
  ul#shows li {
    margin-bottom: 10px;
    clear: both; }
    ul#shows li .title {
      border: 1px solid #b3b3b3;
      padding: 10px;
      overflow: hidden;
      color: #4c4c4c; }
      ul#shows li .title .date, ul#shows li .title .month, ul#shows li .title .day, ul#shows li .title .time, ul#shows li .title h4.day_and_month {
        color: #4c4c4c !important; }
      ul#shows li .title:hover {
        background: #f2f2f2;
        cursor: pointer; }
      ul#shows li .title.active, ul#shows li .title.active:hover {
        background: white;
        background: -moz-linear-gradient(top, white 0%, #e6e6e6 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e6e6e6));
        background-image: -khtml-gradient(linear, left top, left bottom, from(white), to(#e6e6e6));
        background-image: -moz-linear-gradient(top, white, #e6e6e6);
        background-image: -ms-linear-gradient(top, white, #e6e6e6);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e6e6e6));
        background-image: -webkit-linear-gradient(top, white, #e6e6e6);
        background-image: -o-linear-gradient(top, white, #e6e6e6);
        background-image: linear-gradient(top, white, #e6e6e6); }
        ul#shows li .title.active .date, ul#shows li .title.active .month, ul#shows li .title.active .day, ul#shows li .title.active .time, ul#shows li .title.active h4.day_and_month, ul#shows li .title.active:hover .date, ul#shows li .title.active:hover .month, ul#shows li .title.active:hover .day, ul#shows li .title.active:hover .time, ul#shows li .title.active:hover h4.day_and_month {
          color: #191919 !important; }
      ul#shows li .title .date {
        width: 50px;
        float: left;
        margin-right: 10px;
        text-align: center; }
        ul#shows li .title .date .month {
          text-transform: uppercase;
          font-size: 10px; }
        ul#shows li .title .date .day {
          font-size: 30px; }
      ul#shows li .title .time {
        float: left; }
        ul#shows li .title .time h4.day_and_month {
          font-weight: bold;
          margin-bottom: 5px; }
    ul#shows li .sections {
      padding: 10px;
      margin-left: 60px;
      margin-bottom: 20px; }
      ul#shows li .sections .section {
        margin-bottom: 20px; }
        ul#shows li .sections .section h4 {
          font-weight: bold;
          margin-bottom: 5px;
          color: #404040; }
          ul#shows li .sections .section h4 span.price {
            font-weight: normal; }
        ul#shows li .sections .section p {
          margin-bottom: 10px;
          line-height: 1.4em; }
        ul#shows li .sections .section select {
          width: 100px; }
        ul#shows li .sections .section input[type="submit"] {
          margin-top: -8px; }

.calendar-month {
  margin-bottom: 50px;
  float: left;
  margin-right: 30px; }
  .calendar-month h3 {
    font-weight: bold; }

table.calendar {
  width: 175px; }
  table.calendar td {
    border: 1px solid #f3f3f3;
    color: #999999;
    letter-spacing: 0;
    word-spacing: 0;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 10px;
    font-family: Verdana, sans-serif;
    vertical-align: middle;
    line-height: 25px; }
    table.calendar td.filler {
      border: none; }
    table.calendar td.show {
      background: #2086a6;
      color: white; }
      table.calendar td.show:hover {
        background: #175c71;
        cursor: pointer; }

#shopping-cart {
  width: auto;
  background-color: #e6e6e6 !important; }
  #shopping-cart #steps {
    display: none;
    position: static;
    background: white;
    position: static;
    width: 650px;
    margin: 0px auto;
    padding: 50px;
    padding-top: 10px;
    padding-bottom: 0;
    height: 350px; }
    #shopping-cart #steps ul#nav {
      width: 650px;
      margin: 0 auto;
      overflow: hidden;
      margin-bottom: 20px; }
      #shopping-cart #steps ul#nav li {
        float: left;
        list-style: none;
        letter-spacing: 0;
        font-family: "Helvetica", Arial, arial, sans-serif;
        word-spacing: normal; }
        #shopping-cart #steps ul#nav li.active a {
          background-color: #0a99b3;
          color: white;
          font-weight: normal; }
        #shopping-cart #steps ul#nav li a {
          -moz-border-radius: 15px 15px 15px 15px;
          -webkit-border-radius: 15px 15px 15px 15px;
          border-radius: 15px 15px 15px 15px;
          font-size: 12px;
          padding-top: 8px;
          padding-bottom: 8px;
          margin-top: 4px;
          padding-right: 12px;
          padding-left: 12px;
          margin-right: 2px;
          line-height: 14px;
          display: block;
          color: #999999; }
          #shopping-cart #steps ul#nav li a:hover {
            text-decoration: none; }
  #shopping-cart lable.error {
    color: red; }
  #shopping-cart .tab-pane {
    display: none; }
    #shopping-cart .tab-pane.active {
      display: block; }
  #shopping-cart #cart {
    width: 100%; }
    #shopping-cart #cart table {
      margin-bottom: 30px;
      width: 100%;
      font-size: 13px;
      color: #666666; }
      #shopping-cart #cart table tbody {
        width: 100%; }
      #shopping-cart #cart table tr {
        width: 100%; }
        #shopping-cart #cart table tr h5 {
          color: #222222;
          font-weight: bold;
          font-size: 15px;
          line-height: 18px; }
        #shopping-cart #cart table tr td {
          padding: 10px; }
          #shopping-cart #cart table tr td.quantity input {
            width: 90px; }
        #shopping-cart #cart table tr td.remove a {
          background: #eeeeee;
          padding: 5px 10px;
          color: white;
          -moz-border-radius: 15px 15px 15px 15px;
          -webkit-border-radius: 15px 15px 15px 15px;
          border-radius: 15px 15px 15px 15px;
          font-size: 12px; }
          #shopping-cart #cart table tr td.remove a:hover {
            background: #bbbbbb;
            color: white;
            text-decoration: none; }
        #shopping-cart #cart table tr td.price {
          text-align: right; }
        #shopping-cart #cart table tr .over-limit {
          color: red; }
  #shopping-cart .form-actions h4 {
    font-weight: bold;
    color: #333333;
    margin-top: 10px;
    float: right;
    margin-right: 20px; }
  #shopping-cart #user_agreement {
    height: 100px;
    border: 1px solid #cccccc;
    padding: 10px;
    overflow-y: scroll;
    font-size: 13px;
    margin-bottom: 20px; }
    #shopping-cart #user_agreement p {
      margin-bottom: 13px; }
  #shopping-cart #thanks p {
    margin-bottom: 10px;
    line-height: 1.4em; }

.hidden {
  display: none !important; }

#payment-details-message {
  height: 200px;
  text-align: center; }

#special-instructions #container {
  height: 200px; }
