- content_for :header do
  %h1 Orders
  %ul.from-here
    %li= link_to "Processed by Artfully", artfully_admin_orders_path
    %li= link_to "All", all_admin_orders_path
    
.spread
  =render :partial => "admin/shared/orders_table", :locals => {:orders => @orders}