- in_section :dashboard

- content_for :header do
  %h1 Dashboard

.sideboard
  %h3 Organization
  %p
    - if current_user.is_in_organization?
      You are a member of organization:
      =link_to current_user.current_organization.name, organization_path(current_user.current_organization)
    - else
      You are not in an organization yet.  Ask your organization administrator to add you, or
      =link_to "create your own", new_organization_path

.dashboard
  %h3 Events
  = render :partial => 'events/list', :locals => { :events => @events } unless @events.blank?

  %h3 People
  = render :partial => 'people/list', :locals => { :people => @people } unless @people.blank?


.sideboard
  %h3 Overview
  = render :partial => 'events/glances', :locals => { :events => @events } unless @events.blank?
