%h1.raleway Features
.row
  .span8
    %h5 Available Today
    %ul
      %li Sell tickets on your site or through an Artful.ly storefront
      %li Process credit cards and track cash sales at the box office
      %li Accept donations on your site
      %li Import contact records from Excel, Access, Salesforce, or other databases
      %li Offer online RSVP for free events
      %li Export ticket sales, donation reports, and contact information
      %li Attach multiple tags to contact records 
      %li Create new list segments with any search or tag
      %li Save seating and pricing brackets
      %li Provide ticket buyers and donors with automatic email receipts
      %li Integrate Artful.ly data with fiscal sponsorship records

    %h5 Coming Soon
    %ul
      %li Integrate MailChimp campaigns and analytics with other contact details
      %li Offer multiple discount codes
      %li Designate tickets for a reseller or papering company

  .span4.offset1
    %p Want to suggest a new feature? Use the #{link_to 'Feature Request Forum'}. We love feedback!
