%h1 Grow Your Audience by Organizing Your Data
%h2 Artfully is an online system to manage your tickets, donations and contacts.
%h3 It’s a simple, elegant way to keep track of events, people, and your everyday work.

//

%h4 Go with the Good Guys

%h5 Start with 19,000 Artists.
%p If we know anything, it’s artists. At Fractured Atlas, we help thousands of members navigate insurance, fundraising, and technology for their arts businesses. We’ve learned a lot  from a decade of hearing about their daily challenges and celebrating their successes. With 19,000 members in 50 states and many countries, we understand what you need – sell tickets, accept donations, and keep track of your own contacts in one place. Whether you are a choreographer, gallery, theater company, band, filmmaker, writer, craft artist, or all of the above, we are here to help.
 
%h5 Listen Closely.
%p We didn’t just stop with our members – we took it on the road. Artful.ly was designed by artists and administrators from across the country. Design participants in New York, San Francisco, Philadelphia and Minneapolis / St. Paul told us what they needed, and we listened. Artful.ly’s original requirements came directly from the mouths of artists. We’re excited to give you what you want, and even more excited to roll out a wish list of new features built on best practices over the coming years!
 
%h5 Add a Bunch of Geeks.
%p Fractured Atlas has a secret weapon – we speak geek. We have a stellar team of software developers who are focused solely on creating products for you. Our staff works to translate artist needs into software code. You can be sure that you’re getting the most up-to-date, innovative technology solutions from us.
 
%h5 Work Like Hell.
%p We’ve been working hard to make these ideas a reality. Our team has dreamt, planned, prioritized, implemented, tested, and retested to make sure you’re getting the best system possible. We never sit back on our heels – we’ll be making improvements and updates all the time.
 
%h5 Best. Service. Ever.
%p Sooner or later, something’s going to go wrong. Don’t panic! Our online knowledge base includes articles and tips to get you back on track without a hitch. And if you can’t figure it out yourself, the same stellar service that you have come to enjoy with Fractured Atlas’s other programs is just an email or phone call away.

//

%h4 Don’t just take our word for it! Our members say:

%blockquote
  %p “This is one of the greatest organizations I've ever been part of.”
  %small John Turnbull, writer & editor, GA

%blockquote
  %p “I'm a member of many arts organizations that were created to 'support' the indie filmmaker and NONE of them begin to compare. Finally after years of struggling to find resources everything became available to me when I joined Fractured Atlas.”
  %small Paul Bright, filmmaker, TX

%blockquote
  %p “It's very obvious that it has a great deal of potential from an already solid starting base. I truly appreciate the clean aesthetic of the software. Directors, like myself, don't have time for a great deal of clutter. Artful.ly gets straight to the punch. I'm also impressed with how quickly changes/upgrades based on user recommendations have been made. It shows the Fractured Atlas staff is open to opinions of the user base.”
  %small Doc Waller, Executive Artistic Director, The Layman Group, GA

//

%h4 10 ways Artful.ly gives you the keys to your own success:

%ol
  %li 
    %h5 Sell tickets on your own site.
    %p No ugly pop ups.  No sending your patrons away to another site.

  %li 
    %h5 See the big picture.
    %p View a patron’s entire history on a single dashboard interface—ticket purchases, donations, solicitations, and more.

  %li 
    %h5 Recognize relationships, not just transactions.
    %p Create tags, define connections, and sort notes to suit your needs.

  %li 
    %h5 Work intuitively
    %p with a clean design that’s uncluttered by tools you don’t need.

  %li 
    %h5 Use it now.
    %p No sign up fees. No installation. No week-long trainings. Easy imports.

  %li 
    %h5 Access anywhere.
    %p Log in at the office, at home, at the show, or on the road.

  %li 
    %h5 Own your data.
    %p Your data belongs to you forever, no matter what. Exports are easy, fast, and free.

  %li 
    %h5 Rest easy
    %p knowing that you’ve partnered with Fractured Atlas, a national non-profit that’s been serving the arts community since 1998.

//

%h4 What Artful.ly Is Not

%p It’s not a system that’s too complicated to find what you need, too expensive for your organization, too general for the arts, or too inflexible for your staff. Or, as our friend, Ian Garret, said so nicely:

%blockquote
  %p This isn’t a complicated merchant services account adapted to a shopping cart for tickets, it’s not an expensive massive patron services database one hosts on site, it’s not a sports ticket system pushed into use for a performance venue, it’s not software adapted from another sales system. It’s a ground-up, powerful yet light-weight, user friendly arts centered system with strong commitment from a service oriented developer.

//

%h4 Are You Ready to Work Artful.ly?

%p We’ve used your insights to create a ticketing and contact management system tailored to your needs. Manage the essentials of your arts business in one place!

%p= link_to 'Register for your FREE account'

%p We are here to help you run the best arts business possible!

%p= image_tag('fractured_atlas_signature.png')

%p PS: We created Artful.ly because we know and serve 19,000 artists nationwide.  We built software for our self a few years ago and it radically improved operations. We wanted to help other artists realize how much of a difference good technology can make. 

%p 
  PPS.  Artful.ly is web-based software so there’s no installation, no updates, no need to call the tech guy. 
  = link_to 'Sign up to try it today!'

%p
  PPS.  You obviously like to be thorough and read a lot.  We love that!  Want more?
  = link_to 'Check out Some FAQs.'