.big_huge{:style=>'width:100%;text-align:center'}
  .image
    =image_tag "win_monkey.jpg"
  .link{:style=>'font-family:Arial;font-size:40px;text-decoration:none;'}
    =link_to "Log in", new_user_session_path
