-content_for :header do
  %h1 Dashboard

= contextual_menu do |m|
  - m.item_to "Credit Cards", credit_cards_path, :title => "New Event", :icon => "icons/light/Personal.png"
  - m.item_to "Charts", charts_path, :title => "Charts", :icon => "icons/light/Gear.png"
  - m.item_to "Events", events_path, :title => "Events", :icon => "icons/light/Gear.png"
  - m.item_to "My Organization", organizations_path, :title => "My Organization"