%h1.raleway Pricing
.row
  .span8
    %table
      %tbody
        %tr
          %td
            People Management Kit
          %td
            %ul
              %li FREE
        %tr
          %td
            Charity Donation Kit
          %td
            %ul
              %li FREE
              %li 3.5% credit card processing fee
              %li Requires proof of 501(c)(3) status
        %tr
          %td
            Charity Donation Kit for Fiscal Sponsees
          %td
            %ul
              %li FREE
              %li No 3.5% credit card processing fee
              %li 6% standard Fiscal Sponsorship administration fee
        %tr
          %td
            Free Ticketing Kit
          %td
            %ul
              %li FREE
        %tr
          %td
            Paid Event Ticketing Kit
          %td
            %ul
              %li FREE to install
              %li Online ticket buyers pay $2 fee per ticket
              %li 3.5% credit card processing fee
              %li Cash sales are free
        %tr
          %td
            Box Office Kit
          %td
            %ul
              %li FREE to install
              %li 3.5% credit card processing fee
              %li Cash sales are free

  .span4.offset1
    %p
      Basic Artful.ly accounts are <strong>FREE</strong>. They allow you to track your relationships and manage free events.

    %p{:style => 'margin-bottom:50px;'}
      You can add additional functionality by purchasing “Kits.” Some Kits are free, some Kits have transaction fees, and (in the future) some Kits will come with a monthly subscription charge.
