%p Currently available planned features are listed on the Features Page.

%p Want to suggest a new feature? Use the Feature Request Forum. We love feedback!

%p Subscribe to the Artful.ly e-news list for other updates, tips, and news.
