-content_for :header do
  %h1 Kits

.context
  %h2 Explanation of Kits
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vehicula nisi eget lacus gravida at iaculis mi luctus. Vestibulum accumsan est eget lacus accumsan a condimentum leo volutpat. In congue rhoncus neque, ut tincidunt quam sagittis eget. In hac habitasse platea dictumst. Quisque non imperdiet magna.

.document
  .call-to-action
  = render :partial=>'kits/kits_table', :locals => { :kits_hash => @kits_hash }