.spread
  = form_for @action, :url => person_action_path(@person, @action) do |form|
    = hidden_field_tag "action_type", params[:type]
    %ul= render :partial => 'actions/form_hear', :locals => { :parent_form => form, :target => @action } if params[:type] == "hear"
    = form.submit "Save"