.spread
  = form_for @action, :url => person_action_path(@person, @action) do |form|
    %ul
      - if params[:type] == "hear"
        = render :partial => 'actions/form_hear', :locals => { :parent_form => form, :target => @action }

      = hidden_field_tag "action_type", params[:type]
      %li= form.submit "Save"