.link= link_to "Producer Activation", new_user_role_path(:role => :producer), :class => "link"
.link= link_to "Credit Cards", user_credit_cards_path(current_user), :class => "link"
.link= link_to "Seat/Price templates", charts_path, :class => "link"
.link= link_to "View my events", events_path, :class => "link"