- if !target.nil? && target.errors.any?
  #error_explanation.notification.error
    %span
    .text
      - target.errors.each do |field|
        %p
          %strong Oops!
          - target.errors[field].each do |message|
            = message
