= stylesheet_link_tag "https://asset0.zendesk.com/external/zenbox/v2.4/zenbox.css"
= javascript_include_tag "https://asset0.zendesk.com/external/zenbox/v2.4/zenbox.js"
:javascript
  Zenbox.init({
    dropboxID: "20042668",
    url:       "https://artfully.zendesk.com",
    hide_tab:  true
  });
