:erb
  <link rel="stylesheet" type="text/css" href="https://asset0.zendesk.com/external/zenbox/v2.4/zenbox.css">
  <script type="text/javascript" src="https://asset0.zendesk.com/external/zenbox/v2.4/zenbox.js">
:javascript
  Zenbox.init({
    dropboxID: "20042668",
    url:       "https://artfully.zendesk.com",
    hide_tab:  true
  });
