%h3="#{@person.first_name} #{@person.last_name}"
%ul.kv
  %li
    .key Nickname
    .value Gary
  %li
    .key Salutation
    .value Mr. Moore
  %li
    .key Donor Listing
    .value Anonymous

%h4 Contact Information
%ul.kv
  %li
    .key Email
    .value=@person.email
  %li
    .key Cell
    .value 555-555-1234
  %li
    .key Home
    .value 555-555-3245
  %li
    .key Twitter
    .value gmoore
  %li
    .key LinkedIn
    .value /gmoore

-#%h4 Key Relationships