%table.standalone.table
  %thead
    %tr
      %th Discount Code
      %th Type
      %th.right{:style=>'width:100px'} Tickets
      %th.right{:style=>'width:100px'} Discounted
      %th.right{:style=>'width:100px'} 
      %th.right{:style=>'width:100px'} 
  %tbody
    %tr
      %td COWBELL
      %td $10 OFF
      %td.right 17
      %td.right 
        %strong -$170.00
      %td.right
      %td.right
    %tr
      %td HOLIDAY15
      %td 2 for 1
      %td.right 39
      %td.right 
        %strong -$100.00
      %td.right
      %td.right