%table.standalone.table
  %thead
    %tr
      %th Discount Code
      %th.right{:style=>'width:100px'} Tickets
      %th.right{:style=>'width:100px'} Discount
      %th.right{:style=>'width:100px'} Gross
      %th.right{:style=>'width:100px'} Processing
      %th.right{:style=>'width:100px'} Net
  %tbody
    %tr
      %td COWBELL
      %td.right 9
      %td.right{:style => 'color:red'} $16.98
      %td.right
        %strong $7.00
      %td.right $0.00
      %td.right $7.00
    %tr
      %td HOLIDAY15
      %td.right 17
      %td.right{:style => 'color:red'} $2.98
      %td.right
        %strong $10.00
      %td.right $0.00
      %td.right $3.99