- if played.empty?
  %p There are no played shows.
- else
  %ul.nav.nav-pills.nav-stacked#of_shows
    - played.each do |show|
      %li{:class => @show.id == show.id ? :active : :unselected }
        = link_to (l show.datetime_local_to_event, :format => :short), statement_path(show), :title => 'show-datetime'
