- in_section :reports
- content_for :header do
  %h1= t(".heading", :default => "Statement Reports")
  %h2= t(".subheading", :default => "View statements for your shows")

.context
  %h3 Shows
  = render :partial => "played_shows", :locals => { :event => @event, :played => @played }
.document
  -if @statement.nil?
    %p
      Please select a show or a date range
  -else
    %h3="Statement Report: #{@event.name}"
    #statement_table
      %table.standalone
        %thead
          %tr
            %th{:style=>'width:200px'} Shows
            %th{:style=>'width:100px'} Tickets Sold
            %th{:style=>'width:50px'} Comps
            %th{:style=>'width:100px'} Potential
            %th{:style=>'width:100px'} Gross
            %th{:style=>'width:100px'} Processing            
            %th{:style=>'width:100px'} Net
        %tbody
          - @statement.sales.shows.each do |row|
            %tr
              %td=l row.datetime, :format => :short
              %td=row.tickets_sold
              %td=row.tickets_comped
              %td=number_as_cents row.potential_revenue
              %td
                %strong=number_as_cents row.gross_revenue
              %td=number_as_cents row.processing
              %td=number_as_cents row.net_revenue
