- in_section :events
- content_for :header do
  %h1 New Section
  %h2= @chart.name

.context
  %h3 Sections
  = render :partial => 'sections/section_table', :locals => { :chart => @chart, :include_link => false }
.document
  %h3 New Section Details
  = render "shared/error_messages", :target => @section
  = render :partial => 'form', :locals => { :section => @section, :action => 'new' }
