- in_section :events
- content_for :header do
  %h1 Chart Templates

.context
.document
  %h3 New Section
  = render "shared/error_messages", :target => @section
  = form_for @section, :url => chart_sections_path(@chart, @section) do |form|
    %ul
      = render :partial => 'sections/form', :locals => { :parent_form => form, :target => @section }
      %li= form.submit "Submit"