#seating-chart
  #seating-chart-header
    = chart.name
  #seating-chart-content
    %div=link_to "Edit this chart", edit_chart_path(chart), :class => "link"
    %div=link_to "Add a section to this chart", new_chart_section_path(chart), :class => "link"
    %table.normal.tablesorter
      %thead
        %tr
          %td Name
          %td Capacity
          %td Price
          %td Actions
      %tbody
        - chart.sections.each do |section|
          %tr
            %td= section.name
            %td= section.capacity
            %td= section.price
            %td
              =link_to image_tag('icons/actions_small/Pencil.png'), edit_chart_section_path(chart, section), :class => "table_icon"
              =link_to image_tag('icons/actions_small/Trash.png'), chart_section_path(chart, section), :method=>:delete, :class => "table_icon"
