#seating-chart
	#seating-chart-header
		- unless event.chart.nil?
			= event.chart.name
	#seating-chart-content
		%div=link_to "Edit this chart", edit_event_chart_path(event, event.chart), :class => "link"
		- if event.chart.nil?
			%div=link_to "Create default seating chart", new_event_chart_path(event), :class => "link"
		- else
			%div=link_to "Add a section to this chart", new_event_chart_section_path(event, event.chart), :class => "link"
			%table
				%tr
					%td
						Name
					%td
						Capacity
					%td
						Price					
				- event.chart.sections.each do |section|
					%tr
						%td
							=section.name
						%td
							=section.capacity
						%td
							=section.price