- unless performance.chart.nil?
	%tr.performance-chart-details
		%td
		%td{:colspan=>'2'}
			=performance.chart.name
		%td
	- performance.chart.sections.each do |section|
		%tr.performance-chart-details
			%td
			%td
				:erb
					<%=section.name%>,<%=section.capacity%> seats
			%td
				:erb
					$<%=section.price%>
			%td	