- in_section :events
- content_for :header do
  =render :partial=>'header'

.row
  .span3
    =render :partial=>'menu'
  .span9
    = render "shared/error_messages", :target => @event
    = form_for( @event, :html => { :class => 'form-horizontal' } ) do |form|
      .control-group
        =form.label :name, "Event name", :class => 'control-label'
        .controls
          =form.text_field :name, :placeholder=>"Event name"
          
      .control-group
        =form.label :name, "Producer", :class => 'control-label'
        .controls
          =form.text_field :producer
          
      .control-group
        =form.label :name, "Description", :class => 'control-label'
        .controls
          =form.text_area :description, :class => 'input-xlarge', :rows => '6'
          
      .control-group
        =form.label :name, "Contact email", :class => 'control-label'
        .controls
          =form.text_field :contact_email, :placeholder=>"Event name"
          
      .control-group
        =form.label :name, "Contact phone", :class => 'control-label'
        .controls
          =form.text_field :contact_phone, :placeholder=>"Event name"
          
      .form-actions
        = form.submit "Save", :class => 'btn'
    

