- in_section :events
- content_for :header do
  %h1 Events
  /TODO
  %h2 Missing subtitle
  %ul.from-here
    %li= link_to "New Event", new_event_path

.sideboard
  %h3 Events
  = render :partial => 'list', :locals => { :events => @events }

.dashboard
  %h3 Dashboard
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vehicula <strong>nisi eget lacus</strong> gravida at iaculis mi luctus. Vestibulum accumsan est eget lacus accumsan a condimentum leo volutpat. In congue rhoncus neque, ut tincidunt quam sagittis eget. In hac habitasse platea dictumst. Quisque non imperdiet magna.

.sideboard
  %h3 Overview
  = render :partial => 'glances', :locals => { :events => @events } unless @events.blank?