%div
	=link_to image_tag("new_event.gif", :border=>0), new_event_path, :class => "link"
- unless @events.empty?
	%table	
		%tr
			%th
				Name
			%th
				Venue
			%th
				Producer
		- @events.each do |event|
			%tr
				%td
					=link_to event.name, event_path(event), :class => "link"
				%td
					=event.venue
				%td
					=event.producer