- in_section :events
- content_for :header do
  =render :partial=>'header'

.row
  .span3
    - in_sub_section :share
    =render :partial=>'menu'
  .span9
    .row
      .span10.offset1.storefront-links

        %h1 Sell through Resellers
        %p#storefront-text Offer tickets to this event to a reseller:
        %blockquote#storefront-link
          = link_to new_ticket_offer_url
