.links-bar
	=link_to "View my events", events_path, :class => "link"
	|
	=link_to "Edit this event", edit_event_path(@event), :class => "link"
	|
	=link_to "Add new performance", new_event_performance_path(@event), :class => "link"
%h3.event-name=@event.name
.venue-name=@event.venue
.producer-name=@event.producer
.chart
	Default seating capacity:
	=@event.chart.capacity

.sub-container#performance-container
	%h2
		Performances
	
	%table	
		%tr
			%th
			%th
				Date
			%th
				Time
			%th
				Capacity
			%th
				Actions
		- @performances.each do |performance|
			%tr
				%td
					=performance.day_of_week
				%td
					=performance.formatted_performance_date
				%td
					=performance.formatted_performance_time
				%td
					=performance.chart.capacity
				%td
					=link_to "dupe", duplicate_performance_path(performance)
					