- in_section :events
- content_for :header do
  =render :partial=>'header'
- content_for :custom_js do
  = include_javascripts :widget_generator
  
.row
  .span3
    =render :partial=>'menu'
  .span9
    = render :partial => 'widgets/generator', :locals => {:selected_event_id => @event.id}
