= parent_form.fields_for target do |chart_form|
  %li
    .label
      = chart_form.label :name, "Name"
    .element
      = chart_form.text_field :name
      .description= "Example: \"Weekend Matinee\". You'll add more details in a minute." unless target.persisted?