- in_section :events
- content_for :header do
  %h1 Chart Templates

.context
.document
  = render "shared/error_messages", :target => @chart
  = form_for @chart, :url => chart_path(@chart) do |form|
    %h3 Edit Chart
    %ul
      = render :partial => 'charts/form', :locals => { :parent_form => form, :target => @chart }
      = form.submit "Submit"