= render "shared/error_messages", :target => @chart
= form_for @chart, :url => chart_path(@chart) do |form|
  #event
    %h3 Edit Chart
    = render :partial => 'charts/form', :locals => { :parent_form => form, :target => @chart }
    = form.submit "Submit"