- in_section :events
- content_for :header do
  %h1 Chart Templates

.row
  .span4
    %h3= @chart.name
    = link_to "Edit Sections", chart_path(@chart) if can?(:view, @chart)
  .span8
    = render "shared/error_messages", :target => @chart
    = render :partial => 'form', :locals => { :chart => @chart }
