.links-bar
	=link_to "View my templates", charts_path, :class => "link"
	|
	=link_to "Create new template", new_chart_path, :class => "link"
	
%h3
	Seat/price templates
	
- if @charts.empty?
	You have not created and templates

%table#chart-list
	- @charts.each do |chart|
		%tr.chart-name
			%td
			%td{:colspan=>'2'}
				=chart.name
			%td.controls
				=link_to "view", chart_path(chart), :class => "link"	
				=link_to "edit", edit_chart_path(chart), :class => "link"				
				=link_to "delete", chart_path(chart), :method=>:delete, :class => "link"
		- chart.sections.each do |section|
			%tr.chart-details
				%td
				%td
					:erb
						<%=section.name%>,<%=section.capacity%> seats
				%td
					:erb
						$<%=section.price%>
				%td	
		%tr
			%td
				&nbsp;
			