= render "shared/error_messages", :target => @chart
= form_for @chart, :url => event_charts_path(@event, @chart) do |form|
  #event
    %h3 New Chart
    = render :partial => 'charts/form', :locals => { :parent_form => form, :target => @chart }
    = form.submit "Submit"