- in_section :events
- content_for :header do
  %h1 Chart Templates

.spread
  %h3 New Chart
  = render "shared/error_messages", :target => @chart
  = form_for @chart, :url => charts_path(@chart) do |form|
    %ul= render :partial => 'charts/form', :locals => { :parent_form => form, :target => @chart }
    = form.submit "Submit"