- in_section :imports
- content_for :header do
  %h1 Import People

.row
  .span4
    .well
      %h3 Upload File
      %p
        = render :partial => "shared/error_messages", :locals => { :target => @import }
        = raw s3_http_upload_tag :key => "imports/#{UUID.new.generate}",
            :content_type => "text/csv",
            :redirect => new_import_url,
            :acl => "public-read",
            :max_filesize => 50.megabytes,
            :submit_button => '<div class="cancel-submit"><input id="import_submit" class="btn" name="commit" type="submit" value="Import"></div>'

  .span8
    %p
      Please supply a CSV (comma separated values) of people that you'd like to import.
    %p You can #{link_to 'download an empty CSV file', template_imports_path(:type => "people")} with these headers already filled in.
    
    %h3 Include One Of The Following
    %table.table.table-bordered.table-striped.docs
      %tr 
        %td.field First 
        %td The first name of the patron
      %tr 
        %td.field Last
        %td The last name of the patron
      %tr 
        %td.field Email
        %td The email address of the person  
    
    %h3 Optional Fields
    %table.table.table-bordered.table-striped.docs
      %tr
        %td.field Company
        %td The contact's company name
      %tr
        %td.field Address1
        %td First line of the contact's address
      %tr
        %td.field Address2
        %td Second line of the contact's address
      %tr
        %td.field City
        %td The contact's city
      %tr
        %td.field State
        %td The contact's state
      %tr
        %td.field Zip
        %td The contact's zip code
      %tr
        %td.field Country
        %td The contact's country
      %tr
        %td.field Phone 1 type
        %td Work, Home, Cell or Fax
      %tr
        %td.field Phone 1
        %td The contact's first phone number
      %tr
        %td.field Phone 2 type
        %td Work, Home, Cell or Fax
      %tr
        %td.field Phone 2
        %td The contact's second phone number
      %tr
        %td.field Phone 3 type
        %td Work, Home, Cell or Fax
      %tr
        %td.field Phone 3
        %td The contact's third phone number
      %tr
        %td.field Website
        %td The contact's website
      %tr
        %td.field Twitter
        %td The contact's handle on Twitter
      %tr
        %td.field Facebook
        %td The contact's web address on Facebook
      %tr
        %td.field LinkedIn
        %td The contact's web address on LinkedIn
      %tr
        %td.field Tags
        %td Tags you'd like to associate with this contact, separated by vertical bars (e.g., "vip|board")
      %tr
        %td.field Type
        %td Individual, Corporation, Foundation, Government or Other
