- in_section :imports

- content_for :header do
  %h1 Import a new set of contacts

.compact-spread
  %h3 Please supply a file
  %p
    = render :partial => "shared/error_messages", :locals => { :target => @import }
    = raw s3_http_upload_tag :key => "imports/#{UUID.new.generate}",
        :content_type => "text/csv",
        :redirect => new_import_url,
        :acl => "public-read",
        :max_filesize => 50.megabytes,
        :submit_button => '<div class="cancel-submit"><a href="/people">Cancel</a><input id="import_submit" class="btn" name="commit" type="submit" value="Import"></div>'

  %p #{link_to 'Download', template_imports_path} an empty CSV file with these headers already filled in.

  %h3 What do I upload?
  %p
    Please supply a CSV (comma separated values) file containing the contacts
    that you'd like to import.
  %p
    The first row of the file should be a row of headers specifying what each
    column represents. The list of valid column names is below. You may include
    any or all of these fields.
  %table
    %tr
      %td Email
      %td The contact's email address
    %tr
      %td First
      %td The contact's first name
    %tr
      %td Last
      %td The contact's last name
    %tr
      %td Company
      %td The contact's company name
    %tr
      %td Address1
      %td First line of the contact's address
    %tr
      %td Address2
      %td Second line of the contact's address
    %tr
      %td City
      %td The contact's city
    %tr
      %td State
      %td The contact's state
    %tr
      %td Zip
      %td The contact's zip code
    %tr
      %td Country
      %td The contact's country
    %tr
      %td Phone 1 type
      %td Work, Home, Cell or Fax
    %tr
      %td Phone 1
      %td The contact's first phone number
    %tr
      %td Phone 2 type
      %td Work, Home, Cell or Fax
    %tr
      %td Phone 2
      %td The contact's second phone number
    %tr
      %td Phone 3 type
      %td Work, Home, Cell or Fax
    %tr
      %td Phone 3
      %td The contact's third phone number
    %tr
      %td Website
      %td The contact's website
    %tr
      %td Twitter
      %td The contact's handle on Twitter
    %tr
      %td Facebook
      %td The contact's web address on Facebook
    %tr
      %td LinkedIn
      %td The contact's web address on LinkedIn
    %tr
      %td Tags
      %td Tags you'd like to associate with this contact, separated by vertical bars (e.g., "vip|board")
    %tr
      %td Type
      %td Individual, Corporation, Foundation, Government or Other
