- in_section :imports

- content_for :header do
  %h1 Import a new set of contacts

.compact-spread
  %h3 Please supply a file
  = render :partial => "shared/error_messages", :locals => { :target => @import }
  = raw s3_http_upload_tag :key => "imports/#{UUID.new.generate}",
      :content_type => "text/csv",
      :redirect => new_import_url,
      :acl => "public-read",
      :max_filesize => 50.megabytes,
      :submit_button => '<div class="cancel-submit"><a href="/people">Cancel</a><input id="import_submit" name="commit" type="submit" value="Create"></div>'
