- in_section :people
- content_for :header do
  %h1 List Segments

.compact-spread
  %ul.detailed-list
    - @segments.each do |segment|
      %li
        %h4= link_to segment.name, segment
        %ul.details-long
          %li= pluralize(segment.length, 'person')

