- content_for :header do
  %h1 Ticketing Kit

.context
.document
  %p
    In addition to submitting an authorization request, you must also submit your ACH information for this kit to be activated.
  %p
    = link_to "Download ACH Authorization Form", "/forms/artfully_etf_sign_up.pdf"
  %p
    = button_to "Submit Activation Request", kits_path(:type => @kit.type.underscore)