- content_for :header do
  %h1 Ticketing Kit

.context
.document
  %p
    You must fax your ACH information for this kit to be activated.
  %p
    = link_to "Download ACH Authorization Form", download_ach_form_path, :method=>:post
  %p
    = button_to "Submit Activation Request", kits_path(:type => @kit.type.underscore)