- content_for :header do
  %h1 Ticketing Kit

.context
.document
  %p
    You must fax your ACH information for this kit to be activated.
    = button_to "Download ACH Authorization Form", :action=>'download_ach_authorization_form'
    = link_to "Submit Activation Request", kits_path(:type => @kit.type.underscore), :method => :post
