- content_for :header do
  %h1 Ticketing Kit

.context
.document
  %p
    You must fax your ACH information for this kit to be activated.
  %p
    = link_to "Download ACH Authorization Form", "/forms/ach_authorization_form.pdf"
  %p
    = button_to "Submit Activation Request", kits_path(:type => @kit.type.underscore)