- in_section :imports
- content_for :header do
  %h1 Import Donations

.row
  .span12
    .bottom-room
      %h2 1. Download Template
      You can #{link_to 'download an empty CSV file', template_imports_path(:type => "people")} with these headers already filled in.
  
    %h2 2. Format Import File    
    %h3 Required Fields
    %table.table.table-bordered.table-striped.docs
      %tr 
        %td.field Date
        %td
          %span.label.label-success
            Important!
          &nbsp Show date must be in one of the following formats
          %br
          %br
          %b DD-MMM-YYYY HH:MMpm (Example: 18-Apr-2012 10:59pm) 
          %br
          %br
          %b YYYY/MM/DD HH:MMpm (Example: 2012/04/18 5:30pm)
          %br
          %br
          If you do not include a time, we'll set it to 8pm.
      %tr 
        %td.field Donation Type
        %td
          %span.label.label-success
            Important!  
          &nbsp Valid options are:
          %br
          %br 
          %b Monetary, In-Kind
      %tr 
        %td.field Payment Method
        %td
          %span.label.label-success
            Important!  
          &nbsp Valid options are:
          %br
          %br
          %b Cash, Credit card, Check, Comp, Other, Unknown.
      %tr 
        %td.field Deductible Amount
        %td
          %span.label.label-success
            Important!
          &nbsp Don't include a '$' or other currency symbols.  The tax-deductible amount of the donation (usually the total amount received, unless the donor <a href='http://www.irs.gov/publications/p526/ar02.html#en_US_2011_publink1000229650' target=_blank>received something in return</a>).
    
    %h3 Please include one of the following
    %table.table.table-bordered.table-striped.docs
      %tr 
        %td.field First 
        %td The first name of the person
      %tr 
        %td.field Last
        %td The last name of the person
      %tr 
        %td.field Email
        %td The email address of the person  
      
    %h3 Optional Fields
    %table.table.table-bordered.table-striped.docs
      %tr 
        %td.field Non-Deductible Amount
        %td
          %span.label.label-success
            Important!
          &nbsp Don't include a '$' or other currency symbols. This is the non-deductible portion of the donation (i.e. the fair market value of <a href='http://www.irs.gov/publications/p526/ar02.html#en_US_2011_publink1000229650' target=_blank>something the donor received in return</a>). 
    .well
      %h3 Upload File
      %p
        = render :partial => "shared/error_messages", :locals => { :target => @import }
        = raw s3_http_upload_tag :key => "imports/#{UUID.new.generate}",
            :content_type => "text/csv",
            :redirect => new_import_url,
            :acl => "public-read",
            :max_filesize => 50.megabytes,
            :submit_button => '<input type="hidden" name="type" value="donations"/><div class="cancel-submit"><input id="import_submit" class="btn" name="commit" type="submit" value="Import"></div>'
