%ul.event-list.order-list   
  %li
    %h4
      %a{ :href => "/orders/1"} Moore, Gary
    %ul.order-info
      %li 000030349, 03/18/2011
      %li Sweeney Todd, 4 tickets
  %li
    %h4
      %a{ :href => "/orders/1"} Van Halen, Eddie
    %ul.event-info
      %li 000030348, 03/18/2011
      %li Sweeney Todd, 2 tickets
  %li
    %h4
      %a{ :href => "/orders/1"} Grohl, David
    %ul.event-info
      %li 000030347, 03/18/2011
      %li Sweeney Todd, 4 tickets
  %li
    %h4
      %a{ :href => "/orders/1"} Grohl, David
    %ul.event-info
      %li 000030346, 03/18/2011
      %li Donation, $100
  %li
    %h4
      %a{ :href => "/orders/1"} Cantrell, Jerry
    %ul.event-info
      %li 000030345, 03/18/2011
      %li Sweeney Todd, 2 tickets
  %li
    %h4
      %a{ :href => "/orders/1"} Vanhockinglongnameverg...
    %ul.event-info
      %li 000030344, 03/18/2011
      %li Sweeney Todd, 2 tickets
  %li
    %h4
      %a{ :href => "/orders/1"} The Last Story
    %ul.event-info
      %li 000030343, 03/18/2011
      %li Sweeney Todd, 2 tickets