- in_section :help
- content_for :header do
  %h1= t(".title", :default => "Help")
  %h2= t(".subtitle", :default => "")

.spread
  %h3 Artful.ly Fees
  #fees
    %ul
      %li
        People Kit
        %p Free.
      %li
        Free Event Ticketing Kit
        %p Free.
      %li
        Paid Ticketing Kit
        %p $2 per ticket plus 3.5% of ticket price
