.hero
  .row
    .span8
      %h1 Artfully Open Source Edition
      %p.lead For mid-sized arts organizations, entrepreneurial go-getters, data geeks, and web software nerds.
    .span4
      %div
        %a.btn.btn-large.btn-primary.span3{:href => 'https://github.com/fracturedatlas/artfully_app/zipball/1.0.0.rc4'}
          Download 
          %small v1.0.0.rc4
      %div
        %a.btn.btn-large.span3{:href => 'https://github.com/fracturedatlas/artfully_app/'} View on Github
 
.landing-section
  .row
    .span6
      %h2 Make It Yours
      %p Artful.ly Open Source Edition is the core code of the Artful.ly app downloadable for free and ready for you to roll up your sleeves and build a custom management system for your arts business.  The Artful.ly OSE framework gives software developers a base from which they can add features, integrate with other apps, and much more!
      
    .span6 
      %h2 Available Now
      %p
        Version 1.0 includes tools for ticketing, fundraising, and constituent management.  As we create new features for the hosted software, we’ll share them in the open source edition updates too. (See what features are coming on our 
        =link_to "development roadmap.","https://artfully.zendesk.com/entries/21562008-feature-development-roadmap"
        In the meantime, we hope you’ll share any new features you build with us and other users.
      
.landing-section
  .row
    .span3
      %h2 Giving It Away
    .span9
      %p Some arts businesses know exactly what they need and the best thing we can do is get out of their way. Sharing our software code lets us all learn from organizations like that. Open sourcing our code is also a highly transparent process that engages distributed peer review which we believe will lead to better quality code, increased reliability, greater flexibility, a lower total cost of ownership, and freedom from predatory vendor lock-in.
     
.landing-section 
  .row
    .span10.offset1
      %p="Artful.ly Open Source Edition (and her predecessor, ATHENA) have been generously supported by the #{link_to "Andrew W. Mellon Foundation", "http://www.mellon.org/"}, the #{link_to "Doris Duke Charitable Foundation", "http://www.ddcf.org/"} and the #{link_to "Kresge Foundation", "http://www.kresge.org/"}. (Thank you!)".html_safe

      %p 
        Artful.ly OSE is licensed under the
        = link_to "GPLv3", "http://www.gnu.org/licenses/gpl-3.0.html"
        license.