Are you sure you want to comp 2 tickets for Example User to attend the Wednesday, March 02 2011 5:00pm performance of Generic Example Event?
%p
=link_to "Yes", performance_path(@performance), :class=>"link"
=link_to "No", performance_path(@performance), :class=>"link"