- content_for :header do
  %h1= l(@performance.datetime)

.spread
  %h3 Tickets
  %table.zebra.standalone
    %thead
      %tr
        %th Section
        %th Price
        %th Settlement
    %tbody
      - @performance.tickets.each do |ticket|
        %tr
          %td= ticket.section
          %td= number_as_cents ticket.price
          %td= ticket.settlement_id || "None"