- in_section :events
- content_for :header do
  %h1= t('.heading', :default => "Reseller Events")

.context
  %h3 Editing a Reseller Event
  %p= "Required fields are marked with an asterisk"

.document
  = render "form", :organization => @organization, :event => @reseller_event
