= link_to "I am an IRS approved charity", new_kit_path(:type => "regular_donation_kit")
%p Suspendisse non euismod justo. Curabitur pharetra justo non lacus adipiscing eu mollis magna viverra. Fusce quam quam, interdum scelerisque sodales sit amet, mollis non urna. Sed elit urna, porttitor sed vestibulum non, interdum non nunc. Fusce a velit felis. Proin quis erat in erat pellentesque tempor.
