- content_for :header do
  %h1 People

.row
  .span4
    = render partial: "form", locals: {search: @search}
  .span8.super-search-results
    %table.table.people-list
      - @people.each do |person|
        = render partial: "person", locals: {person: person}
    - unless @people.blank?
      = will_paginate @people, :inner_window => 2, :outer_window => 0
