.credit-card
  .cardholder= athena_credit_card.cardholder_name
  .number= athena_credit_card.card_number
  .cvv= athena_credit_card.cvv
  .expiration= athena_credit_card.expiration_date.strftime "%m/%Y"