%h2 My Credit Cards
%ul#credit_cards
  - @credit_cards.each do |credit_card|
    %li.credit_card
      = render credit_card
      = link_to "Delete", user_credit_card_path(current_user,credit_card), :method => :delete, :confirm => 'Are you sure?'