#shopping-cart {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #aaaaaa;
  background-color: rgba(255, 255, 255, 0.9); }
  #shopping-cart.shown #shopping-cart-controls {
    background: #333333 url("/images/icons/down_arrow.png") no-repeat 10px center; }
  #shopping-cart.hidden #shopping-cart-controls {
    background: #333333 url("/images/icons/up_arrow.png") no-repeat 10px center; }
  #shopping-cart form {
    margin-bottom: 0; }

<<<<<<< HEAD
#shopping-cart-controls {
=======
#reseller-profile textarea {
  height: 100px; }

.flash {
  display: block;
  font-family: "Arial", sans-serif;
  letter-spacing: normal;
  word-spacing: normal;
  text-align: left;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
>>>>>>> resellers
  color: white;
  padding: 10px 5px 10px 27px;
  cursor: pointer;
  font-size: 0.9em; }

#shopping-cart-controls .timer {
  float: right; }

a {
  color: #077083;
  text-decoration: none; }

#cart > *, #controls > * {
  margin-top: 0;
  margin-bottom: 0; }

#total {
  text-align: center;
  font-weight: bold;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dddddd; }
  #total span {
    text-transform: uppercase;
    font-size: 0.8em;
    color: #cccccc; }
  #total .price {
    color: #999999;
    font-size: 2.5em; }

#checkout-now {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dddddd; }
  #checkout-now a {
    display: block;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    color: white;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    background: #0a99b3;
    background: -moz-linear-gradient(top, #0a99b3 14%, #077083 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(14%, #0a99b3), color-stop(100%, #077083));
    background-image: -khtml-gradient(linear, left top, left bottom, from(#0a99b3), to(#077083));
    background-image: -moz-linear-gradient(top, #0a99b3, #077083);
    background-image: -ms-linear-gradient(top, #0a99b3, #077083);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0a99b3), color-stop(100%, #077083));
    background-image: -webkit-linear-gradient(top, #0a99b3, #077083);
    background-image: -o-linear-gradient(top, #0a99b3, #077083);
    background-image: linear-gradient(top, #0a99b3, #077083);
    border: 1px solid #065b6b;
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    line-height: 40px; }
  #checkout-now input {
    display: block;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    color: white;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    background: #0a99b3;
    background: -moz-linear-gradient(top, #0a99b3 14%, #077083 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(14%, #0a99b3), color-stop(100%, #077083));
    background-image: -khtml-gradient(linear, left top, left bottom, from(#0a99b3), to(#077083));
    background-image: -moz-linear-gradient(top, #0a99b3, #077083);
    background-image: -ms-linear-gradient(top, #0a99b3, #077083);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0a99b3), color-stop(100%, #077083));
    background-image: -webkit-linear-gradient(top, #0a99b3, #077083);
    background-image: -o-linear-gradient(top, #0a99b3, #077083);
    background-image: linear-gradient(top, #0a99b3, #077083);
    border: 1px solid #065b6b;
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    line-height: 40px; }

#checkout-now.disabled a {
  background: #dddddd;
  background: -moz-linear-gradient(top, #dddddd 14%, #cccccc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(14%, #dddddd), color-stop(100%, #cccccc));
  background-image: -khtml-gradient(linear, left top, left bottom, from(#dddddd), to(#cccccc));
  background-image: -moz-linear-gradient(top, #dddddd, #cccccc);
  background-image: -ms-linear-gradient(top, #dddddd, #cccccc);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #dddddd, #cccccc);
  background-image: -o-linear-gradient(top, #dddddd, #cccccc);
  background-image: linear-gradient(top, #dddddd, #cccccc);
  border: 1px solid #cccccc;
  cursor: default; }

#clear-cart {
  text-align: right;
  font-size: 0.8em; }
  #clear-cart a {
    color: #999999; }

.upsell {
  padding: 10px 0 0; }

.item-list li {
  border-bottom: 1px solid #dddddd;
  line-height: 2em; }
  .item-list li .fee {
    color: #666677 !important;
    font-style: italic; }
  .item-list li .item {
    color: #333333; }
  .item-list li .price {
    color: #666666;
    float: right; }

.sliding-wizard {
  overflow: hidden;
  padding: 10px 0 0; }
  .sliding-wizard .next {
    float: right; }

#confirmation p {
  text-transform: capitalize; }

#customer-confirmation > *, #credit_card-confirmation > *, #billing_address-confirmation > * {
  margin: 0; }

#purchase .controls {
  margin: 0; }
  #purchase .controls label.error {
    color: #b94a48; }

#special-instructions .control-group .control-label {
  width: auto;
  float: none;
  text-align: left; }
#special-instructions .control-group .controls {
  margin: 0; }
  #special-instructions .control-group .controls textarea {
    width: 95%;
    height: 100px; }

#steps {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dddddd; }
  #steps li {
    list-style-type: decimal;
    margin-left: 1em;
    font-size: 0.8em;
    padding: 0.25em 0;
    color: #666666; }
    #steps li.active {
      font-weight: bold; }
