= link_to "I have a fiscally sponsored project with Fractured Atlas", new_kit_path(:type => "sponsored_donation_kit"), :class => 'wizard-button'
%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proinicus vehicula nisi eget lacus gravida at iaculis mi luct eget. Vestibulum accumsan est eget lacus accumsan a condimentum leo volutpat. Congue rhoncus neque, utic tincidunt quam sagittis eget. In hac habitasse platea dicta. Quisque non imperdiet magna.
