%li
  .label= form.label :name, "Organization Name"
  .element= form.text_field :name
%li
  .label= form.label :time_zone, "Time Zone"
  .element= form.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones
