- in_section :dashboard
- content_for :header do
  %h1 Account History

.context
  %ul.kv
    %li
      .key Current Balance
      .value $0.00
    %li
      .key Upcoming Deposit 6/15/2011
      .value $0.00

.document
  #transactions
    .table-controls
    %table.zebra
      %thead
        %tr
          %th Date
          %th Description
          %th Amount
          %th Balance
      %tbody
      -@transactions.each do |transaction|
        %tr
          %td= transaction[:date]
          %td= transaction[:description]
          %td= transaction[:amount]
          %td= transaction[:account_balance]
    =will_paginate @transactions
