- content_for :header do
  %h1 Organizations

.context
.document
  .call-to-action
    = link_to "New Organization", new_organization_path
  %h3 Organizations
  #organizations
    .table-controls
    %table
      %thead
        %tr
          %th Name
          %th Created Date
      %tbody
        - @organizations.each do |organization|
          %tr
            %td= link_to organization.name, organization
            %td= l organization.created_at, :format => :short