- content_for :header do
  %h1 Organizations


.context
.document
  %h3 New Organization
  = form_for @organization do |f|
    %ul
      %li
        .label
          = f.label :name
        .element
          = f.text_field :name
      %li
        = f.submit "Create"