- content_for :header do
  %h1 Invite a User

.row
  .span8.offset2
    = form_for @user, :url => admin_users_path do |f|
      .control-group
        = f.label :email, :class => "control-label"
        .controls= f.text_field :email
      = render :partial => "shared/submit", :locals => { :submit_label => "Send an invitation" }
