%h3 Ticket Order
%h4 Enter Payment Details

%ul.ticket-list
  - @transaction.tickets.each do |ticket|
    %li
      = render ticket

= render "shared/error_messages", :target => @payment
= render :partial => 'payments/form', :locals => {:payment => @payment}


= link_to "Cancel Order", transaction_path(@transaction), :method => :delete, :confirm => 'Are you sure?'
