= parent_form.fields_for target do |performance_form|
	%ul.performance-form
		%li.element
			= performance_form.label :datetime, "Performace date/time"
			.input-fix
				= performance_form.datetime_select :datetime
