%h3 At a Glance
%ul#performance.reports
  %li
    %h4 Revenue
    %ul.report
      %li
        %span.stat Total Sales
        %span.current $1,389.60
        %span.total / $1600
      %li
        %span.stat Sold Today
        %span.current $208.44
        %span.total / $240
      %li
        %span.stat Potential Remaining
        %span.current $156.33
        %span.total / $180
      %li
        %span.stat Original Potential
        %span.current $1,719.63
        %span.total / $1,980
  %li
    %h4 Tickets
    %ul.report
      %li
        %span.stat Remaining
        %span.current 9
      %li
        %span.stat Sold
        %span.current 90
        %span.alternative (10 Comped)
      %li
        %span.stat Sold Today
        %span.current 14
        %span.alternative (2 Comped)