%table#ticket-table.normal.tablesorter.fullwidth
  %thead
    %tr
      %th=check_box_tag :all, nil, false, :class=>'checkall'
      %th Section
      %th Price
      %th Status
  -performance.tickets.each do |ticket|
    %tr
      %td
        =check_box_tag "selected_tickets[]", ticket.id
      %td= ticket.section
      %td= number_as_cents ticket.price
      %td
        =ticket_status(ticket)