- if upcoming.empty?
  %p There are no upcoming performances.
- else
  %ul.detailed-list#of_performances
    - upcoming.each do |performance|
      %li
        %h4= link_to (l performance.datetime.in_time_zone(event.time_zone), :format => :short), event_performance_path(event, performance), :title => 'performance-datetime'
        %ul.controls
          %li= link_to "View", event_performance_path(event, performance) if can?(:view, performance)
          %li= link_to "Edit", edit_event_performance_path(event, performance) if can?(:edit, performance)
          %li= link_to "Delete", event_performance_path(event, performance), :confirm => "Are you sure?", :method => :delete if can?(:destroy, performance)
