- in_section :events
- content_for :header do
  %h1 Edit Performance

.context
.document
  = render "shared/error_messages", :target => @performance

  = form_for @performance, :url => event_performance_path(@performance.event,@performance) do |form|
    = render :partial => 'performances/form', :locals => { :performance_form => form, :target => @performance }
    = form.submit "Submit"