.notification.info
  %span
  .text
    %p
      %strong Info!
      Please confirm your changes before we save them.
%p
  You are putting all tickets on sale for the
	
%p
  #{l @performance.datetime.in_time_zone(@performance.event.time_zone), :format=> :long_with_day}
%p
  performance of
%p
  =@performance.event.name

= form_for @performance, :url => put_performance_on_sale_path(@performance) do |form|  
  =hidden_field_tag :confirm, :true
  %p
    If this is correct, please click CONFIRM
  =submit_tag "CONFIRM"

%p
  If this is not correct, 
  = link_to "cancel this action and return to the performance page", performance_url(@performance)