.links-bar
	=link_to "View my events", events_path, :class => "link"
	|
	=link_to "View this event", event_path(@event), :class => "link"
	|
	=link_to "Add new performance", new_event_performance_path(@event), :class => "link"
	|
	=link_to "Duplicate this performance", duplicate_performance_path(@performance), :class=>"link"
%h3
	:erb
		<%=@performance.day_of_week%>, <%=@performance.formatted_performance_date%> <%=@performance.formatted_performance_time%>
.event-name=@event.name
.venue-name=@event.venue
.producer-name=@event.producer
.tickets
	- if !@performance.tickets_created?
		%p
			You have not created tickets for this event.
		%p
			=link_to "Create tickets now", create_tickets_for_performance_path(@performance), :class=>"link"
	- else
		%div
			:erb
				Bulk edit: <select><option>Put on Sale</option><option>Take off Sale</option><option>Delete</option></select>
				<button>GO</button>
		%table#ticket-table{:style=>"border-spacing:15px;"}
			%tr
				%th
					:erb
						<input type="checkbox"></input>
				%th
					Section
				%th
					Price
				%th
					On sale?
				%th
					Sold?
			-@tickets.each do |ticket|
				%tr
					%td
						:erb
							<input type="checkbox"></input>
					%td
						=ticket.section
					%td
						:erb
							$<%=ticket.price%>
					%td
						-if ticket.on_sale?
							=image_tag "icons/small_icons/OK.png"
					%td
						-if ticket.sold?
							=image_tag "icons/small_icons/Goodmark.png"