- in_section :reports
- content_for :header do
  %h1 Reports
  %h2 Review sales, contributions, and disbursements

.option1.of2
  %h3 Statements
  %p= t(".statements", :default => "View Statements")
  = link_to "View Statements", statements_path, :class => :cta

.option2.of2
  %h3 Settlements
  %p= t(".settlements", :default => "View Settlements")
  = link_to "View Settlements", settlements_path, :class => :cta