- if flash[:notice]
  .flash.success
    .close &#10006;
    %p= flash[:notice]

- if flash[:error]
  .flash.error
    .close &#10006;
    %p= flash[:error]

- if flash[:alert]
  .flash.warning
    .close &#10006;
    %p= flash[:alert]

- if flash[:info]
  .flash.info
    .close &#10006;
    = flash[:info]